--- 
layout: homepage 
metatitle: U.S. Army Core Support
title: homepage
description: U.S. Army Core Support
tohome: ./
---
<header>
    <nav class="cs-header">
        <div class="navbar">
            <div class="hamburger-container">
                <button id="mobile-nav-btn" class="nav-btn hide-for-large">
                    <i class="fas fa-bars search-icons"></i>
                </button>
            </div>
            <div class="logo-container ">
                <a href="{{page.tohome}}">
                    <picture class="logo">
                        <source media="(max-width: 768px)" srcset="/e2/images/rv7/core-support/ui-media/coresupport_mobile_logo.svg" type="image/svg+xml">
                        <img src="/e2/images/rv7/core-support/ui-media/coresupport_logo.svg" alt="CORE Support Logo" style="width:auto;" type="image/svg+xml">
                    </picture>
                </a>
            </div>
        </div>
    </nav>
    <nav id="mobile-dropdown-menu" class="hider hide-for-large mobile-dropdown-container">
        <ul class="vertical menu accordion-menu mobile-accord" data-accordion-menu>
            {% for topic in site.data.toc.support_toc %}
                    <li style="padding:0px 10px">                             
                        <a href="#" class="mobile-title-pills article-sidenav-link">{{ topic.title }}<span class="title-pill-carrot">&#x2303;</span></a>
                        <hr class="mobile-hr">
                        <ul class="menu vertical nested">
                {% for article in topic.articles %}  
                            <li class="mobile-li">
                                <a href="{{page.tohome}}topics/#{{ article.id }}" class="mobile-sec-pills article-sidenav-link">{{ article.title }}</a>
                            </li>
                            {% if forloop.last == true %}
                            <hr class="mobile-hr" style="margin-left: -3%;">
                            {% endif %}
                {% endfor %}
                        </ul>                       
                    </li>
            {% endfor %}
            </ul>
        </div>            
    </nav>    
</header>

<div class="main" role="main">
    <div class="mast-container">
        <picture>
            <source media="(max-width: 480px)" srcset="../e2/images/rv7/banners/core-support/coresupport_masthead-480.jpg">
            <source media="(max-width: 768px)" srcset="../e2/images/rv7/banners/core-support/coresupport_masthead-768.jpg">
            <source media="(max-width: 992px)" srcset="../e2/images/rv7/banners/core-support/coresupport_masthead-992.jpg">
            <source media="(max-width: 1200px)" srcset="../e2/images/rv7/banners/core-support/coresupport_masthead-1200.jpg">
            <source media="(max-width: 1600px)" srcset="../e2/images/rv7/banners/core-support/coresupport_masthead-1600.jpg">
            <img src="../e2/images/rv7/banners/core-support/coresupport_masthead-2500.jpg" alt="masthead" style="width:auto;">
        </picture>
        <div class="mast-inner-container">
            <center>
                <h3 class="mast-title">How can we help?</h3>
            </center>
            <center class="mast-search-container">
                <input class="mast-search-input" type="search" id="search-input" aria-label="Search through site content" placeholder="Search ...">
                <i class="mast-search-icon"></i>
            </center>            
        </div>
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="grid-x align-center homepage-title">
                <div class="cell">
                    <h3 class="topic-center-row">Browse All Topics</h3>
                </div>
            </div>

            <div class="grid-x grid-margin-x grid-margin-y align-left">
                    <a class="topic-box cell xlarge-4 large-4 medium-6 small-12 find-col" href="./topics/#getting-started">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_contact-person-id-identity-badge_3209380.svg" alt="Badge Icon"/>
                        <h5 class="supp-topic-title">Getting Started</h5>
                        <p class="support-text-centered">Your introduction to CORE and basic account settings</p>
                    </a>

                    <a class="topic-box cell xlarge-4 large-4 medium-6 small-12 find-col" href="./topics/#creating-content">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_edit-document-note-writing-review_3209355.svg" alt="Document Edit Icon"/>
                        <h5 class="supp-topic-title">Creating Content</h5>
                        <p class="support-text-centered">Learn about the article creation and approval process</p>
                    </a>

                    <a class="topic-box cell xlarge-4 large-4 medium-6 small-12 find-col" href="./topics/#page-management">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_tv-text-list-screen-show_3209214.svg" alt="Screen List Icon"/>
                        <h5 class="supp-topic-title">Page Management</h5>
                        <p class="support-text-centered">Build a digital space to promote your news and information</p>
                    </a>

                    <a class="topic-box cell xlarge-4 large-4 medium-6 small-12 find-col" href="./topics/#core-community">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_group-customers-team-contacts-family_3209291.svg" alt="Group Icon"/>
                        <h5 class="supp-topic-title">Core Community</h5>
                        <p class="support-text-centered">Connect with Army Public Affairs professionals</p>
                    </a>

                    <a class="topic-box cell xlarge-4 large-4 medium-6 small-12 find-col" href="./topics/#best-practices">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_lightbulb-idea-innovation-light-creative_3209302.svg" alt="Light Bulb Icon"/>
                        <h5 class="supp-topic-title">Best Practices</h5>
                        <p class="support-text-centered">Enhance your content and promote your organization</p>
                    </a>
            </div> <!-- end of row -->

        </div> <!-- end of inner -->

    </div> <!-- end of hp container -->

    {% include cantfind.html %}

</div> <!-- end of main -->

<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1(f).min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/e2/js/rv7/3rdparty/sjs/simple-jekyll-search.min.js"></script>
<script type="text/javascript">

var searchLocation = './search/';
$(document.getElementById('search-input')).on('keyup', function (e) {
    if (e.keyCode == 13) {
        sessionStorage.setItem("searchTerm", document.getElementById('search-input').value);
        window.location.href = searchLocation;
    }
});
</script>

<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion_grid_vis_embed_only).min.js"></script>
<script>$(document).foundation();</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#mobile-nav-btn").click(function(){
            $( this ).children("i" ).toggleClass( "fa-bars fa-times" );
            $( "#mobile-dropdown-menu" ).slideToggle();
        });
            // Hides all dropdown menus except clicked
        $('.mobile-title-pills').click(function(e){
            $('.accordion-menu').not($(this.closest( "ul" ))).foundation('hideAll');
        // Adds Carrot symbol to active menu item only
            var activeMenu = $('.title-pill-carrot', this);
            $('.title-pill-carrot').not(activeMenu).addClass('hider');
            $(activeMenu).toggleClass('hider');
        });
    });
</script>
