--- 
layout: default 
metatitle: U.S. Army Core Support
title: homepage
description: U.S. Army Core Support
tohome: ./
---

<header style="z-index: 3; min-width: 100%">
    <div class="navbar">
        <a href="{{page.tohome}}">
            <img  class="logo" src="/e2/images/rv7/core-support/ui-media/coresupport_logo.svg" alt="CORE SUpport Logo"/> 
        </a>
    </div>    
</header>

<div class="main" role="main">
    {% include masthead.html %}
    <div class="container">
        <div class="inner-container">
            <br>
            <br>
            <div class="row align-center homepage-title">
                <div class="column">
                    <h3 class="topic-center-row">Support / Tutorials</h3>
                </div>
            </div>
            <div class="row align-center">
                <div class="column">
                    <p class="support-text-centered support-text">Whether you’re creating a new homepage for your organization or simply wanting an Army-branded article to promote on social media platforms, use these resources to discover how to make the most of the CORE publishing platform.</p>
                </div>
            </div>
            <br>

            <div class="row align-center">
                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./topics/#getting-started">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_contact-person-id-identity-badge_3209380.svg" alt="Badge Icon"/>
                        <h5 class="supp-topic-title">Getting Started</h5>
                        <p class="support-text-centered">Your introduction to CORE and basic account settings</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./topics/#creating-content">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_edit-document-note-writing-review_3209355.svg" alt="Document Edit Icon"/>
                        <h5 class="supp-topic-title">Creating Content</h5>
                        <p class="support-text-centered">Learn about the article creation and approval process</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./topics/#page-management">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_tv-text-list-screen-show_3209214.svg" alt="Screen List Icon"/>
                        <h5 class="supp-topic-title">Page Management</h5>
                        <p class="support-text-centered">Build a digital space to promote your news and information</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./topics/#core-community">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_group-customers-team-contacts-family_3209291.svg" alt="Group Icon"/>
                        <h5 class="supp-topic-title">Core Community</h5>
                        <p class="support-text-centered">Connect with Army Public Affairs professionals</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./topics/#best-practices">
                        <img class="supp-topic-icon" src="/e2/images/rv7/core-support/ui-media/iconfinder_lightbulb-idea-innovation-light-creative_3209302.svg" alt="Light Bulb Icon"/>
                        <h5 class="supp-topic-title">Best Practices</h5>
                        <p class="support-text-centered">Enhance your content and promote your organization</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./test-page/">
                        <i style="font-size: 350%; color: #fec325;" class="fas fa-vial supp-topic-icon"></i>
                        <h5 class="supp-topic-title">TEST PAGE</h5>
                        <p class="support-text-centered">Test words describing some test stuff...more words</p>
                    </a>
                </div>
            </div> <!-- end of row -->

        </div> <!-- end of inner -->

        {% include cantfind.html %}

    </div> <!-- end of outer -->
</div> <!-- end of main -->
