--- 
layout: topics 
metatitle: U.S. Army Core Support | Accounts & Pref
title: Accounts & Preferences
description: Accounts & Pref
id: ap
search-id: Accounts & Pref
active: ap
sidenav: ap
---

<div class="main" role="main">
    {% include supp-header.html %}
    <div> <!-- start of topics list-->    
        <section id="getting-started" class="scroll-container section"></section>

            <div class="container">
                <div class="inner-container">
                    <br>
                    <br>
                    
                    <div class="row">
                        <div class="span12">
                            <span class="topic-title">Getting Started</span>
                            <p class="topic-text">Learn about {{page.title}} and some other words here....more words.</p>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/#what-is-core">What is CORE?</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Who is eligible for a CORE Account?</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Your Organization</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Content Approval Process</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Your Page</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">CORE Glossary</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Functionality</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Article / Inbox Actions</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Page Actions</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Using CORE</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Understanding Roles and Permissions in CORE</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Type of Roles</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Roles and Permissions</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Log in to CORE</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">How do I obtain an AKO username and password?</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">What if I forgot my AKO password?</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Can I set up or change my password?</a>
                        </div>
                    </div> <!-- end of row -->

                </div> <!-- end of inner -->
            </div> <!-- end of outer container-->

            <div class="section-break getting-started-section-break top skrollable skrollable-after" data-0="" -top="opacity:0;top:-200px;" data-5="" data--200=""
                data-anchor-target="#account-settings">
            </div>
        </section>

        <section id="account-settings" class="scroll-container section"></section>
            
            <div class="container" style="">
                <div class="inner-container">

                    <br>
                    <br>
                    
                    <div class="row">
                        <div class="span12">
                                <span class="topic-title">Account Settings</span>
                            <p class="topic-text">Learn about {{page.title}} and some other words here....more words.</p>
                        </div>
                    </div>

                    <br>
                    
                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Your Profile</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">View your Profile</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Edit your Profile</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Why can’t I change my username?</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Why can’t I change my role in CORE?</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Changing your home organization</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">View your Organization(s)</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Change Your Home Organization</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Your team members on My Organization</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Adjust email preferences</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Connect social media accounts</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Something</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">something</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Delete or deactivate your account</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Something</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">something</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Connecting to your Profile to Google Analytics</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Something</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">something</a>
                        </div>
                    </div> <!-- end of row -->

                </div> <!-- end of inner -->
            </div> <!-- end of outer container-->

            <div class="section-break account-settings-section-break top skrollable skrollable-after" data-0="" -top="opacity:0;top:-200px;" data-5="" data--200=""
                data-anchor-target="#upload-images">
        </section>


        <section id="upload-images" class="scroll-container section"></section>
            
            <div class="container" style="">
                <div class="inner-container">

                    <br>
                    <br>
                    
                    <div class="row">
                        <div class="span12">
                            <span class="topic-title">Uploading Images</span>
                            <p class="topic-text">Learn about {{page.title}} and some other words here....more words.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">First Topic</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Some More</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Second Topic</a>
                        </div>
                        <div class="span12">
                            <a class="topic-link" href="../subtopic-page/">Some More</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <a href="../subtopic-page/">Third Topic</a>
                        </div>
                    </div> <!-- end of row -->

                </div> <!-- end of inner -->
                {% include supp-cantfind.html %}
            </div> <!-- end of outer container-->

            <div class="section-break account-settings-section-break top skrollable skrollable-after" 
                data-0="" -top="opacity:0;top:-200px;" data-5="" data--200="">
            </div>
        </section>
    </div> <!-- end of topics list--> 

    </div> <!-- end of sub topics -->

</div> <!-- end of main -->
    
<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1(f).min.js"></script>
<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion&vis-only).min.js"></script>
<script>$(document).foundation();</script>
