--- 
layout: topics
metatitle: U.S. Army CORE Support | Results Page
title: Results Page
area: search-results
topicid: cb
topictitle: Search Results
description: Core Support results for the users search
tohome: ../
---
<header>
    <nav class="cs-header">
        <div class="navbar">
            <div class="hamburger-container">
                <button id="mobile-nav-btn" class="nav-btn hide-for-large">
                    <i class="fas fa-bars search-icons"></i>
                </button>
            </div>
            <div class="logo-container">
                <a href="{{page.tohome}}">
                    <picture class="logo">
                        <source media="(max-width: 768px)" srcset="/e2/images/rv7/core-support/ui-media/coresupport_mobile_logo.svg" type="image/svg+xml">
                        <img src="/e2/images/rv7/core-support/ui-media/coresupport_logo.svg" alt="CORE Support Logo" style="width:auto;" type="image/svg+xml">
                    </picture>
                </a>
            </div>            
        </div>
    </nav>
    <div class="search-mast hider" id="search-sect">
        <div class="search-btn-container">
            <div class="dropdown-searchbox">
                <input type="search" id="search-input" aria-label="Search through site content" placeholder="Search ...">
                <i class="header-search-icon"></i>
            </div>
        </div>            
    </div>
    <nav id="mobile-dropdown-menu" class="hider hide-for-large mobile-dropdown-container">
        <ul class="vertical menu accordion-menu mobile-accord" data-accordion-menu>
            {% for topic in site.data.toc.support_toc %}
                    <li style="padding:0px 10px">                             
                        <a href="#" class="mobile-title-pills article-sidenav-link">{{ topic.title }}<span class="title-pill-carrot">&#x2303;</span></a>
                        <hr class="mobile-hr">
                        <ul class="menu vertical nested">
                {% for article in topic.articles %}  
                            <li class="mobile-li">
                                <a href="{{page.tohome}}topics/#{{ article.id }}" class="mobile-sec-pills article-sidenav-link">{{ article.title }}</a>
                            </li>
                            {% if forloop.last == true %}
                            <hr class="mobile-hr" style="margin-left: -3%;">
                            {% endif %}
                {% endfor %}
                        </ul>                       
                    </li>
            {% endfor %}
            </ul>
        </div>            
    </nav>    
</header>

<div class="main" role="main">
    <div class="container">
        <div class="inner-container">        
            <div class="row align-center search-page-container">
                <div class="column" style="min-height: 13em;">
                    <h3 id="results-title">Search Results</h3>
                    <div style="text-align: center;">
                        <span id="result-total">...</span>
                        <span id="search-term"></span>
                    </div>                    
                    <ul id="results-container"></ul>
                </div>
            </div> <!-- end of row -->

        </div> <!-- end of inner -->

    </div> <!-- end of outer -->
    {% include cantfind.html %}
</div> <!-- end of main -->

<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1(f).min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/e2/js/rv7/3rdparty/sjs/simple-jekyll-search.min.js"></script>
<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion_grid_vis_embed_only).min.js"></script>
<script>$(document).foundation();</script>

<script type="text/javascript">
    function turnonSearchSect(){
        document.getElementById("search-sect").classList.remove("hider");
    }
    $(document).ready(function(){
        turnonSearchSect();
        $("#search-input").focus(function(){
            $("#results-container").fadeOut(1000);
            document.getElementById('result-total').textContent="0 results for";
        });
        //       Search button logic *************
        $("#search-btn").click(function(){
            $( this, "i" ).toggleClass("header-search-icon header-close-icon");
            $( "#search-sect" ).slideToggle(slow);
        });
        //       End Search button logic *************
        $("#mobile-nav-btn").click(function(){
            $( this ).children("i" ).toggleClass("fa-bars fa-times");
            $( "#mobile-dropdown-menu" ).slideToggle();
        });
        $(".mobile-sec-pills").click(function(){
            $( "#mobile-dropdown-menu" ).slideToggle();
            $( "#mobile-nav-btn" ).children("i").toggleClass("fa-bars fa-times");
        });
    });
    document.getElementById('search-input').value = sessionStorage.searchTerm;
    function winner(){
        setTimeout(() => {
            window.simpleJekyllSearch.search(sessionStorage.searchTerm);            
            var resultTotal = $('topics').length;
            // trim result text summaries down 
            $("topics").each(function(i) {
                var topicsText = $(this).text();
                var newText = topicsText.split("**")[1];
                if(!newText){
                    $(this).text("No content on this page, this is the Topic directory page");
                }else{
                $(this).text(newText);
                }
            })
            // Adjust Search title to be plural or not
            if (resultTotal === 1){
                document.getElementById('results-title').textContent="Search Result";
                document.getElementById('result-total').textContent=resultTotal + " result for";
                document.getElementById('search-term').textContent = '"' + sessionStorage.searchTerm + '"';
            }else{
                document.getElementById('results-title').textContent="Search Results";
                document.getElementById('result-total').textContent=resultTotal + " results for";
                document.getElementById('search-term').textContent = '"' + sessionStorage.searchTerm + '"';
            }
            // idk    
            $("topics").each(function() {
                $(this).html($(this).html().replace(sessionStorage.searchTerm, "<span class='search-term'>" + sessionStorage.searchTerm + "</span>"));
                turnonSearchSect();
            })
        setTimeout(() => {
            // Fade-in Highlight text function
            });
        }, 800)
        // $('span.search-text').text.effect("highlight", {}, 3000);
        };
    simpleJekyllSearch = new SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: './search.json',
        // json: './search.json' LOCAL,
        // json: '../search.json' PRODUCTION,
        searchResultTemplate: '<li class="result-topic-container"><a class="result-title" href="..{url}?query={query}" title="{desc}">{title}</a><br></span><topics class="result-excerpt">{excerpt}</topics>',
        noResultsText: "Try again by typing a valid search term, then press 'Enter'",
        fuzzy: false,
        success: winner
    });
    // Hides all dropdown menus except clicked
    $('.title-pill').click(function(e){
        $('.accordion-menu').not($(this.closest( "ul" ))).foundation('hideAll');
    // Adds Carrot symbol to active menu item only
        var activeMenu = $('.title-pill-carrot', this);
        $('.title-pill-carrot').not(activeMenu).addClass('hider');
        $(activeMenu).toggleClass('hider');
    });
</script>

<script type="text/javascript">
    var searchLocation = '';
    function setSearchPath(){
        if(window.location.hostname === '127.0.0.1'){
            if (window.location.pathname === '/topics/'){
                searchLocation = '../search/';
            }else if (window.location.pathname === '/search/'){
                searchLocation = './';
            }else{
                searchLocation = '../../search/';
            }
        }else{
            if (window.location.pathname === '/core-support/topics/'){
                searchLocation = '../search/';
            }else if (window.location.pathname === '/core-support/search/'){
                searchLocation = './';
            }else{
                searchLocation = '../../search/';
            }
        }
    }
    $(document.getElementById('search-input')).on('keyup', function (e) {
        if (e.keyCode == 13) {
            sessionStorage.setItem("searchTerm", document.getElementById('search-input').value);
            setSearchPath();
            console.log("SEARCHLOC: " + searchLocation)
            window.location.href = searchLocation;
        }
    });
</script>

<script type="text/javascript">
    var searchLocation = '';
    function setSearchPath(){
        if(window.location.hostname === '127.0.0.1'){
            if (window.location.pathname === '/topics/'){
                searchLocation = '../search/';
            }else if (window.location.pathname === '/search/'){
                searchLocation = './';
            }else{
                searchLocation = '../../search/';
            }
        }else{
            if (window.location.pathname === '/core-support/topics/'){
                searchLocation = '../search/';
            }else if (window.location.pathname === '/core-support/search/'){
                searchLocation = './';
            }else{
                searchLocation = '../../search/';
            }
        }
    }
    $(document.getElementById('search-input')).on('keyup', function (e) {
        if (e.keyCode == 13) {
            sessionStorage.setItem("searchTerm", document.getElementById('search-input').value);
            setSearchPath();
            console.log("SEARCHLOC: " + searchLocation)
            window.location.href = searchLocation;
        }
    });
</script>