{% assign suburl = page.url | split: "/" %}
{% include header.html %}
<div class="main" role="main">
    <div class="container">
        <div class="inner-container">
            <div id="topic-sect-spacer" class="topicspan">&nbsp;</div>
            <div class="grid-x grid-margin-x grid-margin-y align-left">
                <nav class="cell small-12">
                    <a href="{{ page.tohome }}./topics/#{{ page.area }}" class="topnav-bread">{{ page.areatitle }}</a><span class="topnav-arrow-bread">&#10095</span><a href="{{ page.tohome }}./topics/#{{ page.topicid }}" class="topnav-bread">{{ page.topictitle }}</a><span class="topnav-arrow-bread">&#10095</span><span class="topnav-subtopic topnav-bread">{{ page.title }}</span>
                </nav>
                <div class="cell large-8 medium-12 small-12">
                    <div class="topics-content">                        
                        {% include article_generator.html %}
                    </div>
                </div> <!-- End of Second cell here -->
                {% include article_sidenav.html %}
            </div>
        </div> <!-- End of inner containter here -->
    </div> <!-- End of outer containter here -->
    {% include cantfind.html %}
</div> <!-- end of main -->