<article class="article-space">
    {% for topic in datafile %}
        {% for article in topic.articles %}
            {% for item in article %}
                {% assign type = item[0] %}
                {% case type %}
                    {% when 'subtitle' %}
                            <header>
                                <h1 class="topic-title" style="margin-bottom: 0rem">{{ item[1] }}</h1>
                                <span class="search-excerpt">**</span>
                            </header>
                    {% when 'sections' %}
                    {% for section in article.sections %}
                            <section class="sect-space">
                        {% for part in section %}
                            {% assign type = part[0] %}
                            {% case type %}
                                {% when 'sectiontitle' %}
                                    {% if part[1] %}
                                    <header>
                                        <h2 class="subtopic-sect-title">{{ part[1] }}</h2>
                                    </header>
                                    {% else %}                     
                                    {% endif %}
                                {% when 'paratitle' %}
                                    <h3 class="para-title">{{ part[1] }}</h3>
                                {% when 'faq' %}
                                    {% for faqsect in section.faq %}
                                        {% if faqsect.title %}
                                            <header>
                                                <h2 class="faq-title">{{ faqsect.title }}</h2>
                                            </header>
                                        {% elsif faqsect.qa %}
                                            <div class="faq-box">
                                                {% for item in faqsect.qa %}
                                                    {% if item[0] == 'question' %}
                                                        <h3 class="faq-question">Q: {{ item[1] }}</h3>
                                                    {% elsif item[0] == 'answer' %}
                                                        <p class="faq-answer">{{ item[1] }}</p>
                                                    {% elsif item[0] == 'list' %}
                                                        <ul class="faq-answer">
                                                        {% for li in item[1] %}
                                                            {% for each in li %}
                                                                {% if each[0] == 'listname' %}
                                                                    <h4 class="list-title">{{ each[1] }}</h4>
                                                                {% else %}
                                                                    <li class="bullet-item">{{ each[1] }}</li>
                                                                {% endif %}
                                                            {% endfor %} 
                                                        {% endfor %}                                                        
                                                        </ul>
                                                    {% else %}
                                                        <p class="faq-answer">{{ item[1] }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                {% when 'video' %}
                                    <div class="responsive-embed widescreen">
                                        <iframe class="article-para" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen {{ part[1] }}></iframe>
                                    </div>
                                {% when 'table' %}
                                    <table class="table-style" width="100%">
                                    {% for tablerow in section.table %}
                                        {% if tablerow.heading1 %}
                                        <tr>
                                            <th class="table-header-style" width="40%"><strong>{{ tablerow.heading1 }}</strong></th>
                                            <th class="table-header-style" width="60%"><strong>{{ tablerow.heading2 }}</strong></th>
                                        </tr>
                                        {% endif %}
                                        {% if tablerow.col1 %}
                                        <tr>
                                            <td class="table-row-style" width="40%">{{ tablerow.col1 }}</td>
                                            <td class="table-row-style" width="60%">{{ tablerow.col2 }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </table>
                                {% when 'lexicon' %}
                                    <div class="row">
                                    {% for term in section.lexicon %}
                                        <dfn class="columns large-4 medium-4 small-12 gloss-title">{{ term.title }}</dfn>
                                        <dd class="columns large-8 medium-8 small-12 gloss-def">{{ term.definition }}</dd>
                                        {% if term.note %}
                                        <div class="columns large-12 medium-12 small-12 supp-post-it topic-text-note">
                                            <strong>Note: </strong>{{ term.note }}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% when 'hr' %}
                                    <hr class="support-hr">                          
                                {% when 'note' %}
                                    <div class="supp-post-it topic-text-note">
                                        <strong>NOTE: </strong>{{ part[1] }}
                                    </div>
                                {% when 'learn' %}
                                    <div class="supp-post-it topic-text-learn">
                                        {{ part[1] }}
                                    </div>
                                {% when 'tip' %}
                                    <div class="supp-post-it topic-text-tip">
                                        <strong>TIP: </strong>{{ part[1] }}
                                    </div>
                                {% when 'itemlist' %}
                                    {% for li in section.itemlist %}
                                        {% for each in li %}
                                            {% if each[0] == 'listname' %}
                                                {% if each[1] %} <!-- if listname exists -->
                                                    <h4 class="list-title">{{ each[1] }}:</h4>
                                                    <ul>
                                                {% else %} <!-- no listname -->
                                                    <ul>
                                                {% endif %}
                                            {% elsif each[0] == 'sublist' %} <!-- if sublist exists -->
                                                {% for item in li.sublist %}
                                                    {% if forloop.first == true %}
                                                        {% if li.sublist.namewithcolon  %}
                                                            <li class="bullet-item">{{ item[1] }}:</li>
                                                                <ul class="sublist">
                                                        {% elsif li.sublist.namewithout %} 
                                                            <li class="bullet-item">{{ item[1] }}</li>
                                                                <ul class="sublist">
                                                        {% elsif li.sublist.namednoneitem %}
                                                                <br>
                                                                <subtitle class="sublist">{{ item[1] }}</subtitle>
                                                                <ul class="sublist">
                                                        {% else %}
                                                                <ul class="sublist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="subbullet-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                            {% else %}
                                                    <li class="bullet-item">{{ each[1] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                                </ul>
                                    {% endfor %}
                                {% when 'numlist' %}
                                    {% for li in section.numlist %}
                                        {% for each in li %}
                                            {% if each[0] == 'listname' %}
                                                {% if each[1] %} <!-- if listname exists -->
                                                    <h4 class="list-title">{{ each[1] }}:</h4>
                                                    <ol>
                                                {% else %} <!-- no listname -->
                                                    <ol>
                                                {% endif %}

                                            {% elsif each[0] == 'lexicon' %} <!-- if sublexicon exists -->
                                                <div class="row sublexicon">
                                                {% for term in li.lexicon %}
                                                    <dfn class="columns large-4 medium-4 small-12 gloss-title">{{ term.title }}</dfn>
                                                    <dd class="columns large-8 medium-8 small-12 gloss-def">{{ term.definition }}</dd>
                                                    {% if term.note %}
                                                    <div class="columns large-12 medium-12 small-12 supp-post-it topic-text-note">
                                                        <strong>Note: </strong>{{ term.note }}
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                                </div>

                                            {% elsif each[0] == 'sublist' %} <!-- if sublist exists -->
                                                {% for item in li.sublist %}
                                                    {% if forloop.first == true %}
                                                        {% if item[1] %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="sublist">
                                                        {% else %}
                                                                <ul class="sublist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="subbullet-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                            <!-- if subnumlist exists -->
                                            {% elsif each[0] == 'subnumlist' %} 
                                                {% for item in li.subnumlist %}
                                                    {% if forloop.first == true %}
                                                        {% if li.subnumlist.namewithcolon  %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="sublist">
                                                        {% elsif li.subnumlist.namewithout %} 
                                                            <li class="num-item">{{ item[1] }}</li>
                                                                <ul class="sublist">
                                                        {% elsif li.subnumlist.namednoneitem %}
                                                                <br>
                                                                <subtitle class="sublist">{{ item[1] }}</subtitle>
                                                                <ul class="sublist">
                                                        {% else %}
                                                                <ul class="sublist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="num-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                            <!-- end subnumlist -->

                                            {% elsif each[0] == 'subnumlist2' %} <!-- if 2nd subnumlist  -->
                                                {% for item in li.subnumlist2 %}
                                                    {% if forloop.first == true %}
                                                        {% if li.subnumlist2.namewithcolon  %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="sublist">
                                                        {% elsif li.subnumlist2.namewithout %} 
                                                            <li class="num-item">{{ item[1] }}</li>
                                                                <ul class="sublist">
                                                        {% elsif li.subnumlist2.namednoneitem %} 
                                                                <subtitle class="sublist">{{ item[1] }}</subtitle>
                                                                <ul class="sublist">
                                                        {% else %}
                                                                <ul class="sublist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="num-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                                <!-- end 2nd subnumlist -->

                                            {% elsif each[0] == 'subnumlist3' %} <!-- if 3rd subnumlist  -->
                                                {% for item in li.subnumlist3 %}
                                                    {% if forloop.first == true %}
                                                        {% if li.subnumlist3.namewithcolon  %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="sublist">
                                                        {% elsif li.subnumlist3.namewithout %} 
                                                            <li class="num-item">{{ item[1] }}</li>
                                                                <ul class="sublist">
                                                        {% elsif li.subnumlist3.namednoneitem %} 
                                                                <subtitle class="sublist">{{ item[1] }}</subtitle>
                                                                <ul class="sublist">
                                                        {% else %}
                                                                <ul class="sublist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="num-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                                <!-- end 3rd subnumlist -->
                                                <!-- below finishes the parent list -->
                                            {% else %}
                                                    <li class="num-item">{{ each[1] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                                </ol>
                                    {% endfor %}
                                {% else %} <!-- The Catch All for article parts -->
                                    <p class="article-para">{{ part[1] }}</p>
                            {% endcase %}
                        {% endfor %}
                            </section>
                    {% endfor %}
                {% endcase %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</article>
