<article class="article-space">
    {% for topic in datafile %}
        {% for article in topic.articles %}
            {% for item in article %}
                {% assign type = item[0] %}
                {% case type %}
                    {% when 'subtitle' %}
                            <header>
                                <h1 class="topic-title">{{ item[1] }}</h1>
                                <p class="topic-subtext">Last Updated: <time>{{ filemod | date: '%B %d, %Y' }}</time>**</p>
                            </header>
                    {% when 'sections' %}
                    {% for section in article.sections %}
                            <section class="sect-space">
                        {% for part in section %}
                            {% assign type = part[0] %}
                            {% case type %}
                                {% when 'sectiontitle' %}
                                    {% if part[1] %}
                                    <header>
                                        <h2 class="subtopic-sect-title">{{ part[1] }}</h2>
                                    </header>
                                    {% else %}                     
                                    {% endif %}
                                {% when 'paratitle' %}
                                    <h3 class="para-title">{{ part[1] }}</h3>
                                {% when 'video' %}
                                    <div class="responsive-embed widescreen">
                                        <iframe class="article-para" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen {{ part[1] }}></iframe>
                                    </div>
                                {% when 'table' %}
                                    <table class="columns large-12 medium-12 small-12 table-style">
                                    {% for tablerow in section.table %}
                                        {% if tablerow.heading1 %}
                                        <tr>
                                            <th class="columns large-5 medium-5 small-5 table-header-style"><strong>{{ tablerow.heading1 }}</strong></th>
                                            <th class="columns large-7 medium-7 small-7 table-header-style"><strong>{{ tablerow.heading2 }}</strong></th>
                                        </tr>
                                        {% endif %}
                                        {% if tablerow.col1 %}
                                        <tr>
                                            <td class="columns large-5 medium-5 small-5 table-row-style">{{ tablerow.col1 }}</td>
                                            <td class="columns large-7 medium-7 small-7 table-row-style">{{ tablerow.col2 }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </table>
                                {% when 'lexicon' %}
                                    <div class="row">
                                    {% for term in section.lexicon %}
                                        <dfn class="columns large-3 medium-4 small-3 gloss-title">{{ term.title }}</dfn>
                                        <dd class="columns large-8 medium-8 small-8 large-offset-1 gloss-def">{{ term.definition }}</dd>
                                        {% if term.note %}
                                        <div class="columns large-12 medium-12 small-12 supp-post-it topic-text-note">
                                            <strong>Note: </strong>{{ term.note }}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% when 'hr' %}
                                    <hr class="support-hr">                          
                                {% when 'note' %}
                                    <div class="supp-post-it topic-text-note">
                                        <strong>NOTE: </strong>{{ part[1] }}
                                    </div>
                                {% when 'learn' %}
                                    <div class="supp-post-it topic-text-learn">
                                        {{ part[1] }}
                                    </div>
                                {% when 'tip' %}
                                    <div class="supp-post-it topic-text-tip">
                                        <strong>TIP: </strong>{{ part[1] }}
                                    </div>
                                {% when 'itemlist' %}
                                    {% for li in section.itemlist %}
                                        {% for each in li %}
                                            {% if each[0] == 'listname' %}
                                                {% if each[1] %} <!-- if listname exists -->
                                                    <h4 class="list-title">{{ each[1] }}:</h4>
                                                    <ul>
                                                {% else %} <!-- no listname -->
                                                    <ul>
                                                {% endif %}
                                            {% elsif each[0] == 'list' %} <!-- if sublist exists -->
                                                {% for item in li.list %}
                                                    {% if forloop.first == true %}
                                                        {% if item[1] %}
                                                            <li class="bullet-item">{{ item[1] }}:</li>
                                                                <ul>
                                                        {% else %}
                                                                <ul>
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="subbullet-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                            {% else %}
                                                    <li class="bullet-item">{{ each[1] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                                </ul>
                                    {% endfor %}
                                {% when 'numlist' %}
                                    {% for li in section.numlist %}
                                        {% for each in li %}
                                            {% if each[0] == 'listname' %}
                                                {% if each[1] %} <!-- if listname exists -->
                                                    <h4 class="list-title">{{ each[1] }}:</h4>
                                                    <ol>
                                                {% else %} <!-- no listname -->
                                                    <ol>
                                                {% endif %}
                                            {% elsif each[0] == 'sublist' %} <!-- if sublist exists -->
                                                {% for item in li.sublist %}
                                                    {% if forloop.first == true %}
                                                        {% if item[1] %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul>
                                                        {% else %}
                                                                <ul>
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="subbullet-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                            <!-- if subnumlist exists -->
                                            {% elsif each[0] == 'subnumlist' %} 
                                                {% for item in li.subnumlist %}
                                                    {% if forloop.first == true %}
                                                        {% if li.subnumlist.namewithcolon  %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="subnumlist">
                                                        {% elsif li.subnumlist.namewithout %} 
                                                            <li class="num-item">{{ item[1] }}</li>
                                                                <ul class="subnumlist">
                                                        {% elsif li.subnumlist.namednoneitem %}
                                                                <br>
                                                                <subtitle class="subnumlist">{{ item[1] }}</subtitle>
                                                                <ul class="subnumlist">
                                                        {% else %}
                                                                <ul class="subnumlist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="num-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                            <!-- end subnumlist -->

                                            {% elsif each[0] == 'subnumlist2' %} <!-- if 2nd subnumlist  -->
                                                {% for item in li.subnumlist2 %}
                                                    {% if forloop.first == true %}
                                                        {% if li.subnumlist2.namewithcolon  %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="subnumlist">
                                                        {% elsif li.subnumlist2.namewithout %} 
                                                            <li class="num-item">{{ item[1] }}</li>
                                                                <ul class="subnumlist">
                                                        {% elsif li.subnumlist2.namednoneitem %} 
                                                                <subtitle class="subnumlist">{{ item[1] }}</subtitle>
                                                                <ul class="subnumlist">
                                                        {% else %}
                                                                <ul class="subnumlist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="num-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                                <!-- end 2nd subnumlist -->

                                            {% elsif each[0] == 'subnumlist3' %} <!-- if 3rd subnumlist  -->
                                                {% for item in li.subnumlist3 %}
                                                    {% if forloop.first == true %}
                                                        {% if li.subnumlist3.namewithcolon  %}
                                                            <li class="num-item">{{ item[1] }}:</li>
                                                                <ul class="subnumlist">
                                                        {% elsif li.subnumlist3.namewithout %} 
                                                            <li class="num-item">{{ item[1] }}</li>
                                                                <ul class="subnumlist">
                                                        {% elsif li.subnumlist3.namednoneitem %} 
                                                                <subtitle class="subnumlist">{{ item[1] }}</subtitle>
                                                                <ul class="subnumlist">
                                                        {% else %}
                                                                <ul class="subnumlist">
                                                        {% endif %}
                                                    {% else %}
                                                                <li class="num-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                            </ul>
                                                <!-- end 3rd subnumlist -->
                                                <!-- below finishes the parent list -->
                                            {% else %}
                                                    <li class="num-item">{{ each[1] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                                </ol>
                                    {% endfor %}
                                {% else %} <!-- The Catch All for article parts -->
                                    <p class="article-para">{{ part[1] }}</p>
                            {% endcase %}
                        {% endfor %}
                            </section>
                    {% endfor %}
                {% endcase %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</article>