<div class="find-row">
    <div class="row">   
        <div class="column large-8 small-12 mobile-center align-self-middle" style="margin-bottom: 30px">
            <span class="find-title">CAN'T FIND WHAT YOU ARE LOOKING FOR?</span>
            <p class="find-text">Our support team is here for you.</p>
        </div>
        <div class="columns large-4 small-12 mobile-center align-self-middle find-mobile">
            <a class="find-btn" href="mailto:usarmy.pentagon.hqda-ocpa.mbx.army-core@mail.mil"><span class="find-btn-text">CONTACT SUPPORT</span></a>
            <!-- <button class="find-btn"> <span class="find-btn-text">CONTACT SUPPORT</span></button> -->
        </div>        
    </div>         
</div>