
<div class="outer-supp-mast">

    <div class="supp-mast-img">
        <div class="full-width-image">    
            <div class="overlay-effect"></div>         
            <img class="mast-img" src="/e2/images/rv7/banners/core-support/coresupport_masthead-1600.jpg"
                 srcset="/e2/images/rv7/banners/core-support/coresupport_masthead-2500.jpg 2500w,
                         /e2/images/rv7/banners/core-support/coresupport_masthead-1600.jpg 1600w,
                         /e2/images/rv7/banners/core-support/coresupport_masthead-1200.jpg 1200w,
                         /e2/images/rv7/banners/core-support/coresupport_masthead-992.jpg 992w,
                         /e2/images/rv7/banners/core-support/coresupport_masthead-768.jpg 768w,/e2/images/rv7/banners/core-support/coresupport_masthead-480.jpg 480w"
                 alt="Core Support masthead image" />
        </div>
    </div>
    
    <div class="inner-supp-mast mast-searchbox">
        <div style="padding: 1.2% 7%; font-style: italic; font-size: 150%;">Search ...
        </div>

        <div style="padding: 1.2% 3%;">
            <i style="vertical-align: middle; color: goldenrod; font-size: 200%;" class="fas fa-search"></i>
        </div>
    </div>
        
</div>