
<div class="outer-supp-mast">

    <div class="supp-mast-img page-banner">
        <div class="full-width-image">    
            <div class="overlay-effect"></div>         
            <img src="/e2/images/rv7/banners/core-support/1600.jpg"
                 srcset="/e2/images/rv7/banners/core-support/2500.jpg 2500w,
                         /e2/images/rv7/banners/core-support/1600.jpg 1600w,
                         /e2/images/rv7/banners/core-support/768.jpg 768w"
                 alt="Core Support masthead image" onerror="this.src='https://www.army.mil/e2/images/rv7/banners/social-media/2500.jpg'" />
        </div>
    </div>
    
    <div class="inner-supp-mast mast-searchbox">
        <div style="padding: 1.2% 7%; font-style: italic; font-size: 150%;">Search ...(placeholder)
        </div>

        <div style="padding: 1.2% 3%;">
            <i style="vertical-align: middle; color: goldenrod; font-size: 200%;" class="fas fa-search"></i>
        </div>
    </div>
        
</div>