
<div class="masthead_buffer"></div>

<div class="masthead_container row">
	<div class="column full_width_image" id="profile_image">
		<div class="mast-title-container">
            <h3 class="mast-title">How can we help?</h3>
        </div>
        <div class="mast-search-container">
            <input class="mast-search-input" type="search" id="search-input" aria-label="Search through site content" placeholder="Search ...">
            <i class="fas fa-search mast-search-icon"></i>
        </div>
	</div>
</div>

