<section>
    {% for topic in datafile %}
    <br>
    <br>
        <ul>
        {% for subtopic in topic.subtopics %}
            {% for item in subtopic %}
                {% assign type = item[0] %}
                {% case type %}
                    {% when 'subtitle' %}
                        <span class="topic-title"><b>{{ item[1] }}</b></span>
                        <p class="topic-subtext">Last updated {{ filemod | date: '%B %d, %Y' }}</p>
                    {% when 'sections' %}
                    {% for section in subtopic.sections %}
                        {% for part in section %}
                            {% assign type = part[0] %}
                            {% case type %}
                                {% when 'sectiontitle' %}
                                    {% if part[1] %}
                                    <span class="subtopic-title"><b>{{ part[1] }}</b></span><br>
                                    {% else %}
                                    <div></div>                       
                                    {% endif %}
                                {% when 'paratitle' %}
                                    <span class="topic-text"><strong>{{ part[1] }}</strong></span>
                                {% when 'note' %}
                                    <div class="topic-text-note">
                                        <div class="supp-note">
                                            <strong>Note: </strong>{{ part[1] }}
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                {% when 'learn' %}
                                    <div class="topic-text-learn">
                                        <div class="supp-note">
                                            {{ part[1] }}. <strong>LEARN MORE ></strong>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                {% when 'itemlist' %}
                                    {% for li in section.itemlist %}   
                                        {% for each in li %}
                                            {% if forloop.first == true %} 
                                                <p>{{ each[1] }}:</p>
                                            {% else %}
                                                <span class="bullet-item">{{ each[1] }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% when 'numlist' %}
                                    {% for li in section.numlist %}
                                        {% for each in li %}
                                            {% if forloop.first == true %}
                                            <ol>
                                                <p>{{ each[1] }}:</p>
                                            {% else %}
                                                <span class="num-item">&nbsp{{ each[1] }}</span>
                                            {% endif %}
                                        {% endfor %}
                                            </ol>
                                    {% endfor %}
                                {% else %}
                                    <p>{{ part[1] }}</p>
                            {% endcase %}
                        {% endfor %}
                        <br>
                    {% endfor %}
                {% endcase %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% endfor %}
</section>