{% assign suburl = page.url | split: "/" %}
{% include header.html %}
<div class="main" role="main">
    <div class="container">
        <div class="inner-container">
            <div id="topic-sect-spacer" class="topicspan">&nbsp;</div>
            <div class="row ">
                <div class="column large-9 medium-8 small-12">
                    <div class="topics-content">
                        <nav>
                            <a href="{{ page.tohome }}" class="topnav-bread">CORE Support</a><span class="topnav-arrow-bread">&nbsp;&nbsp;&nbsp;&nbsp;&#10095;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="{{ page.tohome }}./topics/#{{ page.topicid }}" class="topnav-bread">{{ page.topictitle }}</a><span class="topnav-arrow-bread">&nbsp;&nbsp;&nbsp;&nbsp;&#10095;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="topnav-subtopic topnav-bread">{{ page.title }}</span>
                        </nav>
                        {% include subtop_generator.html %}
                    </div>
                </div> <!-- End of Second column here -->
                {% include subtop_sidenav.html %}
            </div>
        </div> <!-- End of inner containter here -->
        {% include cantfind.html %}
    </div> <!-- End of outer containter here -->
</div> <!-- end of main -->

<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion_grid_vis-only).min.js"></script>
<script>$(document).foundation();</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.accordion-menu').click(function(e){
        $('.accordion-menu').not($(this)).foundation('hideAll');
        });
        $('.title-pill').click(function(e){
        $(this.parentElement.parentElement).foundation('showAll');
        });
    });
</script>