<article class="article-space">
    {% for topic in datafile %}
        {% for subtopic in topic.subtopics %}
            {% for item in subtopic %}
                {% assign type = item[0] %}
                {% case type %}
                    {% when 'subtitle' %}
                            <header>
                                <h1 class="topic-title">{{ item[1] }}</h1>
                                <p class="topic-subtext">Last Updated: <time>{{ filemod | date: '%B %d, %Y' }}</time>**</p>
                            </header>
                    {% when 'sections' %}
                    {% for section in subtopic.sections %}
                            <section class="sect-space">
                        {% for part in section %}
                            {% assign type = part[0] %}
                            {% case type %}
                                {% when 'sectiontitle' %}
                                    {% if part[1] %}
                                    <header>
                                        <h2 class="subtopic-sect-title">{{ part[1] }}</h2>
                                    </header>
                                    {% else %}                     
                                    {% endif %}
                                {% when 'paratitle' %}
                                    <h3 class="para-title">{{ part[1] }}</h3>
                                {% when 'video' %}
                                    <div class="responsive-embed widescreen">
                                        <iframe class="article-para" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen {{ part[1] }}></iframe>
                                    </div>
                                {% when 'lexicon' %}
                                    <div class="row">
                                    {% for term in section.lexicon %}
                                        <dfn class="columns large-3 medium-3 small-3 gloss-title">{{ term.title }}</dfn>
                                        <dd class="columns large-8 medium-8 small-8 large-offset-1 gloss-def">{{ term.definition }}</dd>
                                        {% if term.note %}
                                        <div class="columns large-12 medium-12 small-12 supp-post-it topic-text-note">
                                            <strong>Note: </strong>{{ term.note }}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% when 'note' %}
                                    <div class="supp-post-it topic-text-note">
                                        <strong>Note: </strong>{{ part[1] }}
                                    </div>
                                {% when 'learn' %}
                                    <div class="supp-post-it topic-text-learn">
                                        <strong>Learn more </strong>{{ part[1] }}
                                    </div>
                                {% when 'tip' %}
                                    <div class="supp-post-it topic-text-tip">
                                        <strong>Tip: </strong>{{ part[1] }}
                                    </div>
                                {% when 'itemlist' %}
                                    {% for li in section.itemlist %}   
                                        {% for each in li %}
                                            {% if forloop.first == true %}
                                                <h4 class="list-title">{{ each[1] }}:</h4>
                                                <ul>
                                            {% elsif each[0] == 'list' %}
                                                {% for item in li.list %}
                                                    {% if forloop.first == true %} 
                                                    <li class="bullet-item">{{ item[1] }}:</li>
                                                        <ul>
                                                    {% else %}
                                                            <li class="subbullet-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                        </ul>
                                            {% else %}
                                                    <li class="bullet-item">{{ each[1] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                                </ul>
                                    {% endfor %}
                                {% when 'numlist' %}
                                    {% for li in section.numlist %}
                                        {% for each in li %}
                                            {% if forloop.first == true %}
                                                <h4 class="list-title">{{ each[1] }}:</h4>
                                                <ol>
                                            {% elsif each[0] == 'list' %}
                                                {% for item in li.list %}
                                                    {% if forloop.first == true %}
                                                    <li class="num-item">&nbsp{{ item[1] }}:</li>
                                                        <ul>
                                                    {% else %}
                                                            <li class="subbullet-item">{{ item[1] }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                        </ul>
                                            {% else %}
                                                    <li class="num-item">&nbsp{{ each[1] }}</li>
                                            {% endif %}
                                        {% endfor %}
                                                </ol>
                                    {% endfor %}
                                {% else %}
                                    <p class="article-para">{{ part[1] }}</p>
                            {% endcase %}
                        {% endfor %}
                            </section>
                    {% endfor %}
                {% endcase %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</article>