<aside class="column large-4 medium-5 small-12">
    <nav class="article-sidenav">
        <h2 class="article-sidenav-title">Articles in this section</h2>
        <ul class="article-sidenav-list">
        {% for topic in site.data.toc.support_toc %}
            {% for subtopic in topic.subtopics %}
                {% if subtopic.id == suburl[2] %}
                    {% for section in subtopic.sections %}
                        {% assign targeturl = section.url | split: "/" %}
                        {% if targeturl[3] != suburl[3]%}                                    
                            <li class="article-sidenav-item">
                                <a href="../..{{ section.url }}" class="article-sidenav-link">{{ section.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </nav>
</aside>
    