<section class="scroll-container section">
    <div class="anchor">
        <a id="account-preferences"> </a>
        <h3 class="area-title">Account Preferences</h3>
    </div>
        <div class="row">
            <div class="column large-12 anchor">
                <a id="gs"> </a>
                <span class="topics-title">Getting Started</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/what_is.html">What is CORE?</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/core_gloss.html">CORE Glossary</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/roles_and.html">Roles and Permissions</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/log_in.html">Log in to CORE</a>
            </div>
        </div>

            
        <br>
        <br>
        
        <div class="row">
            <div class="column large-12 anchor">
                <a id="as"> </a>
                <span class="topics-title">Account Settings</span>
            </div>
        </div>
        
        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/as/your_profile.html">Your Profile</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/as/your_org.html">Your Organization</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/as/email_pref.html">Email Preferences</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/as/connect_social.html">Connect Social Media account</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/as/delete_or.html">Delete or Deactivate</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/as/google_analytics.html">Google Analytics</a>
            </div>
        </div>

        
        <br>
        <br>
        
        <div class="row">
            <div class="column large-12 anchor">
                <a id="ui"> </a>
                    <span class="topics-title">Uploading Images</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/ui/new_img.html">New Images</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/ui/existing_img.html">Existing Images</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/ui/remove_img.html">Remove Images</a>
            </div>
        </div> 

    <div class="topic-spacer">
    </div>
    <hr class="topic-hr">
</section>

<section class="scroll-container section">
    <div class="anchor">
        <a id="creating-content"> </a>
        <h3 class="area-title">Creating Content</h3>
    </div>
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Writing Articles</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Create an Article</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Import from DVIDS</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Edit Articles</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Formatting Text</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Images</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Videos</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Documents</a>
            </div>
        </div>

            
        <br>
        <br>
        
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Images</span>
            </div>
        </div>
        
        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Editing Images</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Cropping Images</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Moving Images</a>
            </div>
        </div>

            
        <br>
        <br>
        
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Managing Articles</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Page Traffic</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Article Inbox</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Tags</a>
            </div>
        </div> 

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Scheduled Release</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Submit Drafts</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Review Drafts</a>
            </div>
        </div> 

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div> 

            
        <br>
        <br>
        
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Best Pratices</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div> 

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">SPlaceholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div> 

    <div class="topic-spacer">
    </div>
    <hr class="topic-hr">
</section>

<section class="scroll-container section">
    <div class="anchor">
        <a id="page-management"> </a>
        <h3 class="area-title">Page Management</h3>
    </div>
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Settings</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

    <div class="topic-spacer">
    </div>
    <hr class="topic-hr">
</section>

<section class="scroll-container section">
    <div class="anchor">
        <a id="core-community"> </a>
        <h3 class="area-title">Core Community</h3>
    </div>
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Admin Management</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

    <div class="topic-spacer">
    </div>
    <hr class="topic-hr">
</section>

<section class="scroll-container section">
    <div class="anchor">
        <a id="best-practices"> </a>
        <h3 class="area-title">Best Practices</h3>
    </div>
        <div class="row">
            <div class="column large-12">
                <span class="topics-title">Headlines</span>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">
                <a class="topic-link" href="./subtopics/account-preferences/gs/">Placeholder</a>
            </div>
        </div>

    <div class="topic-spacer">
    </div>
    <hr class="topic-hr">
</section>