<ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
    <li>
        <a href="#" class="title_pill">Accounts</a>
        <ul class="menu vertical nested">
            <li>
                <a href="#" class="secondary_pill">Getting Started</a>
                <ul class="menu vertical nested">
                    <li><a href="#" class="tertiary_pill">What is CORE?</a></li>
                    <li><a href="#" class="tertiary_pill">CORE Glossary</a></li>
                    <li><a href="#" class="tertiary_pill">Using CORE</a></li>
                    <li><a href="#" class="tertiary_pill">Understanding Roles and Permissions in CORE</a></li>
                    <li><a href="#" class="tertiary_pill">Log in to CORE</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="secondary_pill">Account Settings</a>
                <ul class="menu vertical nested">
                    <li><a href="#" class="tertiary_pill">Your Profile</a></li>
                    <li><a href="#" class="tertiary_pill">Changing your home organization</a></li>
                    <li><a href="#" class="tertiary_pill">Adjust email preferences</a></li>
                    <li><a href="#" class="tertiary_pill">Connect social media accounts</a></li>
                    <li><a href="#" class="tertiary_pill">Delete or deactivate your account</a></li>
                    <li><a href="#" class="tertiary_pill">Connect your Profile to Google Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="secondary_pill">Upload Images</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="title_pill">Managing Content</a>
        <ul class="menu vertical nested">
            <li>
                <a href="#" class="secondary_pill">Articles</a>
                <ul class="menu vertical nested">
                    <li><a href="#" class="tertiary_pill">Explain right column: Status section, Tags & Themes, Customize SEO, History, Google Analytics</a></li>
                    <li><a href="#" class="tertiary_pill">Create an article</a></li>
                    <li><a href="#" class="tertiary_pill">Formatting Text</a></li>
                    <li><a href="#" class="tertiary_pill">Troubleshoot / Tips for Formatting Text</a></li>
                    <li><a href="#" class="tertiary_pill">Keyboard Shortcuts</a></li>
                    <li><a href="#" class="tertiary_pill">Embedding Media</a></li>
                    <li><a href="#" class="tertiary_pill">Managing video with YouTube (C2 upload video - 2:45)</a></li>
                    <li><a href="#" class="tertiary_pill">Tags</a></li>
                    <li><a href="#" class="tertiary_pill">Preview Article</a></li>
                    <li><a href="#" class="tertiary_pill">Actions depend on permissions level: Submit for Review, Release, Schedule for future release</a></li>
                    <li><a href="#" class="tertiary_pill">Importing from DVIDS (video script)</a></li>
                    <li><a href="#" class="tertiary_pill">Viewing Article Page Traffic</a></li>
                    <li><a href="#" class="tertiary_pill">FUTURE: Sharing drafts / Collaborating</a></li>
                    <li><a href="#" class="tertiary_pill">FUTURE: Revision History</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="secondary_pill">Editor's Inbox</a>
                <ul class="menu vertical nested">
                    <li><a href="#" class="tertiary_pill">Managing your Inbox</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">Article Status</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="tertiary_pill">Content Approval: From draft to release (video script; C2 video - 2:28)</a></li>
                    <li><a href="#" class="tertiary_pill">Keeping track of unpublished articles</a></li>
                    <li><a href="#" class="tertiary_pill">Promoting published content</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="title_pill">Page Management</a>
        <ul class="menu vertical nested">
            <li>
                <a href="#" class="secondary_pill">Page Management</a>
                <ul class="menu vertical nested">
                    <li><a href="#" class="tertiary_pill">About CORE pages</a></li>
                    <li><a href="#" class="tertiary_pill">Creating a new page</a></li>
                    <li><a href="#" class="tertiary_pill">Understanding your Page Settings</a></li>
                    <li><a href="#" class="tertiary_pill">Customize your Page Logo</a></li>
                    <li><a href="#" class="tertiary_pill">Customize your Social Media Accounts</a></li>
                    <li><a href="#" class="tertiary_pill">Connect your Page to Google Analytics</a></li>
                    <li><a href="#" class="tertiary_pill">Viewing Page Traffic (similar to articles? Need to define what is at launch on Pages)</a></li>
                    <li><a href="#" class="tertiary_pill">Customize your Page Navigation</a></li>
                    <li><a href="#" class="tertiary_pill">Understanding Content Sections</a></li>
                    <li><a href="#" class="tertiary_pill">Edit and Move a Content Section</a></li>
                    <li><a href="#" class="tertiary_pill">Delete a Content Section</a></li>
                    <li><a href="#" class="tertiary_pill">Add Articles to a News List Section</a></li>
                    <li><a href="#" class="tertiary_pill">Add a Text Section</a></li>
                    <li><a href="#" class="tertiary_pill">Add a Video Section</a></li>
                    <li><a href="#" class="tertiary_pill">Add a Leader Section</a></li>
                    <li><a href="#" class="tertiary_pill">Add a Accordion Section</a></li>
                    <li><a href="#" class="tertiary_pill">Deactivating your Page</a></li>
                    <li><a href="#" class="tertiary_pill">Page FAQ</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="title_pill">CORE Community</a>
        <ul class="menu vertical nested">
            <li>
                <a href="#" class="secondary_pill">My Organization / Team Management (for Administrators)</a>
                <ul class="menu vertical nested">
                    <li><a href="#" class="tertiary_pill">Navigating your Organization</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">View Team member profiles and roles</a></li>
                            <li><a href="#">Team members can: Edit my profile, Change organization </a></li>
                            <li><a href="#">Admin can: Change roles, remove users from organization, edit org info</a></li>
                            <li><a href="#">Search and filters</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="tertiary_pill">Setting up your Profile (video script)</a></li>
                    <li><a href="#" class="tertiary_pill">Changing user roles</a></li>
                    <li><a href="#" class="tertiary_pill">Removing users from your organization</a></li>
                    <li><a href="#" class="tertiary_pill">Inviting team members</a></li>
                    <li><a href="#" class="tertiary_pill">Edit organization information</a></li>
                    <li><a href="#" class="tertiary_pill">Connect your Organization to Google Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="secondary_pill">User Directory</a>
                <li><a href="#" class="tertiary_pill">Navigating the User Directory</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">View all CORE user profiles and roles, Public Affairs “contact list”</a></li>
                        <li><a href="#">Follow/Unfollow users; enables you to filter content produced by specific people into your Released Content feed</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Super Admin: activate/deactivate or delete your account</a></li>
                    </ul>
                </li>
            </li>
            <li>
                <a href="#" class="secondary_pill">Organization Directory</a>
                <li><a href="#" class="tertiary_pill">View all organizations in CORE (type, owner, # of members)</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Org owner’s contact information is available; quick way for users to reach out/coordinate with an outside organization, if needed</a></li>
                    </ul>
                </li>
                <li><a href="#" class="tertiary_pill">Roles</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Publishers and Admin: Access to edit organization info, edit Page”</a></li>
                        <li><a href="#">Super Admin: Contact CORE Support Team if you need help with deactivating or deleting your organization from CORE, editing your Page, Disabling Page Management</a></li>
                    </ul>
                </li>
                <li><a href="#" class="secondary_pill">Follow/Unfollow organization; enables you to filter content produced by all members of an organization into your Released Content feed</a></li>
                <li><a href="#" class="secondary_pill">Requesting a new organization</a></li>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="title_pill">Best Practices/Tips</a>
        <ul class="menu vertical nested">
            <li>
                <a href="#" class="secondary_pill">Importance of Headlines</a>
            </li>
            <li>
                <a href="#" class="secondary_pill">Quality Photos and Images</a>
            </li>
            <li>
                <a href="#" class="secondary_pill">Army.mil Style Guide</a>
            </li>
            <li>
                <a href="#" class="secondary_pill">Tips to increase your SEO
                    </a>
            </li>
            <li>
                <a href="#" class="secondary_pill">Suggestions for Page Navigation Tips (labels, number of tabs)</a>
            </li>
        </ul>
    </li>
</ul>