<ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
    <li>
        <a href="../../../#account-prefs" class="title-pill">Account Preferences</a>
        <ul class="menu vertical nested">
            <li>
                <a href="../../../#account-prefs" class="secondary-pill">Getting Started</a>
            </li>
            <li>
                <a href="../../../#account-prefs" class="secondary-pill">Account Settings</a>                
            </li>
            <li>
                <a href="../../../#account-prefs" class="secondary-pill">Uploading Images</a>
            </li>
        </ul>
    </li>
    <br>
    <li>
        <a href="../../../#creating-content" class="title-pill">Creating Content</a>
        <ul class="menu vertical nested">
            <li>
                <a href="../../../#creating-content" class="secondary-pill">Writing Articles</a>                
            </li>
            <li>
                <a href="../../../#creating-content" class="secondary-pill">Images</a>            
            </li>
            <li>
                <a href="../../../#creating-content" class="secondary-pill">Managing Articles</a>
            </li>
            <li>
                <a href="../../../#creating-content" class="secondary-pill">Best Practices</a>
            </li>
        </ul>
    </li>
    <br>
    <li>
        <a href="../../../#page-management" class="title-pill">Page Management</a>
        <ul class="menu vertical nested">
            <li>
                <a href="../../../#page-management" class="secondary-pill">Settings</a>
            </li>
            <li>
                <a href="../../../#page-management" class="secondary-pill">Layout</a>
            </li>
            <li>
                <a href="../../../#page-management" class="secondary-pill">Page Articles</a>
            </li>
        </ul>
    </li>
    <br>
    <li>
        <a href="../../../#core-community" class="title-pill">CORE Community</a>
        <ul class="menu vertical nested">
            <li>
                <a href="../../../#core-community" class="secondary-pill">Admin Management</a>
            </li>
            <li>
                <a href="../../../#core-community" class="secondary-pill">User Directory</a>
            </li>
            <li>
                <a href="../../../#core-community" class="secondary-pill">Org Directory</a>
            </li>
        </ul>
    </li>
    <br>
    <li>
        <a href="../../../#best-practices" class="title-pill">Best Practices/Tips</a>
        <ul class="menu vertical nested">
            <li>
                <a href="../../../#best-practices" class="secondary-pill">Headlines</a>
            </li>
            <li>
                <a href="../../../#best-practices" class="secondary-pill">Photos and Images</a>
            </li>
            <li>
                <a href="../../../#best-practices" class="secondary-pill">Styleguide</a>
            </li>
            <li>
                <a href="../../../#best-practices" class="secondary-pill">SEO Tips
                    </a>
            </li>
            <li>
                <a href="../../../#best-practices" class="secondary-pill">Page Navigation</a>
            </li>
        </ul>
    </li>
</ul>