
<section id="getting-started" class="scroll-container section">
    <h3 class="area-title">Account & Preferences</h3>
    <div class="row">
        <div class="column large-12">
            <span class="topic-title">Getting Started</span>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a class="topic-link" href="../subtopics/accounts-preferences/gs/">What is CORE?</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
                <a class="topic-link" href="../ap-page/gs/#core-glossary">CORE Glossary</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">Roles and Permissions</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">Log in to CORE</a>
        </div>
    </div>

    <div class="section-break getting-started-section-break top skrollable skrollable-after" data-0="" -top="opacity:0;top:-200px;" data-5="" data--200=""
                data-anchor-target="#account-settings">
    </div>
</section>
<section id="account-settings" class="scroll-container section">
            
    <br>
    <br>
    
    <div class="row">
        <div class="column large-12">
                <span class="topic-title">Account Settings</span>
        </div>
    </div>
    
    <div class="row">
        <div class="column large-12">
            <a class="topic-link"  href="../subtopic-page/">Your Profile</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a class="topic-link"  href="../subtopic-page/">Your Organization</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a class="topic-link"  href="../subtopic-page/">Email Preferences</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a class="topic-link"  href="../subtopic-page/">Connect social media accounts</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">Delete or deactivate</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">Google Analytics</a>
        </div>
    </div>

    <div class="section-break account-settings-section-break top skrollable skrollable-after" data-0="" -top="opacity:0;top:-200px;" data-5="" data--200=""
                data-anchor-target="#upload-images">
</section>


<section id="upload-images" class="scroll-container section">
            
    <br>
    <br>
    
    <div class="row">
        <div class="column large-12">
            <span class="topic-title">Uploading Images</span>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">New Images</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">Existing Images</a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="../subtopic-page/">Remove Images</a>
        </div>
    </div> <!-- end of row -->

    <div class="section-break account-settings-section-break top skrollable skrollable-after" 
                data-0="" -top="opacity:0;top:-200px;" data-5="" data--200="">
    </div>
</section>

