
<div class="hidden" id="searchId">{{ page.search-id }}</div>

<section class="ap">
    
        <div class="topics-content">
            <div class="topic-text">Getting Started</div>
            <span class="topic-title"><b>What is CORE?</b></span>
            <p class="topic-text">Last updated September 18, 2018</p>
            <img src="/e2/images/rv7/core-support/videoplaceholder.jpg">
            <p class="topic-text">Welcome to CORE! CORE is a web-based content management system that specializes in packaging and publishing content created by Army public affairs professionals.</p>
            <p class="topic-text">As a CORE user, you can tell your Army story to the world by writing articles with our easy-to-use editor. Publishing on CORE is free! Once published, you will have a professional, Army-branded, mobile responsive article, perfect for featuring on your organization’s web page, posting on social media, or sharing with other users across the Army network. Published articles are automatically distributed to your followers in CORE and have the potential to reach millions of readers on www.army.mil.</p>
            <p class="topic-text">CORE also features a User Directory and Organization list that allows users to communicate and coordinate with other members of the Army public affairs community.</p>
        </div>
    </div>
</section>