{% for topic in site.data.support_toc %}
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
        <li>
            <a href="./#{{ topic.id }}" class="title-pill">{{ topic.title }}</a>
            <ul class="menu vertical nested">
                {% for subtopic in topic.subtopics %}
                <li>
                    <a href="./#{{ subtopic.id }}" class="secondary-pill">{{ subtopic.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}

<div class="column large-12">
        <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
            <li> <a href="../../../#account-preferences" class="title-pill">Account Preferences</a>
                <ul class="menu vertical nested">            
                </ul>
                    <li >
                        <a href="../../../#gs" class="secondary-pill">Getting Started</a>
                    </li>
                    <li >
                        <a href="../../../#account-settings" class="secondary-pill">Account Settings</a>
                    </li>
                    <li >
                        <a href="../../../#uploading-images" class="secondary-pill">Uploading Images</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>