{% for topic in site.data.toc.support_toc %}
    <section class="scroll-container section">
        <div class="anchor">
            <a id="{{topic.id}}"> </a>
            <h3 class="area-title">{{ topic.title }}</h3>
        </div>    
    {% for article in topic.articles %}
            <div class="row">
                <div class="column large-12 sub-anchor">
                    <a id="{{article.id}}"> </a>
                    <span class="topics-title">{{ article.title }}</span>
                </div>
            </div>               
        {% for section in article.sections %}              
            <div class="row">
                <div class="column large-12 topic-list-item">
                    <a class="topic-link" href="..{{ section.url }}">{{ section.title }}</a>
                </div>
            </div>
        {% endfor %}
        {% if forloop.last == false %}
            <span class="subtopic-spacer"></span>
        {% endif %}    
    {% endfor %}
    {% if forloop.last == false %}
        <div class="topic-spacer">
        </div>
        <hr class="topic-hr">
    {% endif %}
    </section>
{% endfor %}
