{% for topic in site.data.support_toc %}
    <section class="scroll-container section">
        <div class="anchor">
            <a id="{{topic.id}}"> </a>
            <h3 class="area-title">{{ topic.title }}</h3>
        </div>    
    {% for subtopic in topic.subtopics %}
            <div class="row">
                <div class="column large-12 anchor">
                    <a id="{{subtopic.id}}"> </a>
                    <span class="topics-title">{{ subtopic.title }}</span>
                </div>
            </div>               
        {% for section in subtopic.sections %}              
            <div class="row">
                <div class="column large-12">
                    <a class="topic-link" href="{{ tohome }}{{ section.url }}">{{ section.title }}</a>
                </div>
            </div>
        {% endfor %}
        {% if forloop.last == false %}
            <br>
            <br>
        {% endif %}    
    {% endfor %}
    {% if forloop.last == false %}
        <div class="topic-spacer">
        </div>
        <hr class="topic-hr">
    {% endif %}
{% endfor %}

Was given the message: "Your request was denied because of this content categorization: Games". HOWEVER, this is a blog website discussing coding and web development for a framework my office is reseraching and interested in using for our ARMY client. Please reopen access to this site.

192.168.21.171 netmask 0xffffff00 broadcast 192.168.21.255
	nd6 options=201<PERFORMNUD,DAD>

            88:63:df:8d:a4:b7

            10.248.42.163

            http://www.goodboydigital.com/category/pixi-js/

            703-676-8188