<div style="position:fixed; top:0;min-width: 100%; z-index: 3; top: 60px; font-size: -webkit-xxx-large;">**TEST**</div>
<div class="main" role="main">
    <div class="container">
        <div class="inner-container">
            <div id="topic-sect-spacer" class="topicspan">&nbsp;</div>
            <div class="row ">
                <div class="column large-3 medium-4 topics-pill-menu hide-for-small-only">
                    {% for topic in site.data.toc.support_toc2 %}
                        <ul class="vertical menu accordion-menu" data-accordion-menu>
                            <li>                                
                                <a href="#" class="title-pill">{{ topic.title }}<span class="title-pill-carrot hider">&#x2303;</span></a>
                                <ul class="menu vertical nested">
                        {% for article in topic.articles %}  
                                    <li>
                                        <a href="./#{{ article.id }}" class="secondary-pill">{{ article.title }}</a>
                                    </li>
                        {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    {% endfor %}                  
                </div>

                <div class="column large-9 medium-8 small-12 medium-offset-4 large-offset-3">
                    <div class="topics-content">
                        {% include topics2.html %}
                    </div>
                </div> <!-- End of Second column here -->
            </div>
        </div> <!-- End of inner containter here -->
        <div class="remove-space"></div>
        {% include cantfind.html %}
    </div> <!-- End of outer containter here -->
</div> <!-- end of main -->

<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1(f).min.js"></script>
<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion_grid_vis_embed_only).min.js"></script>
<script>$(document).foundation();</script>
<script type="text/javascript">
    $(document).ready(function(){
        // Hides all dropdown menus except clicked
        $('.title-pill').click(function(e){
            $('.accordion-menu').not($(this.closest( "ul" ))).foundation('hideAll');
        // Adds Carrot symbol to active menu item only
            var activeMenu = $('.title-pill-carrot', this);
            $('.title-pill-carrot').not(activeMenu).addClass('hider');
            $(activeMenu).toggleClass('hider');
        });
        // Used if Menu Titles have links
        // $('.title-pill').click(function(e){
        //     $(this.parentElement.parentElement).foundation('showAll');
        // });
    });
</script>