{% for topic in site.data.support_toc %}
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
        <li>
            <a href="./#{{ topic.id }}" class="title-pill">{{ topic.title }}</a>
            <ul class="menu vertical nested">
                {% for subtopic in topic.subtopics %}
                <li>
                    <a href="./#{{ subtopic.id }}" class="secondary-pill">{{ subtopic.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}