--- 
layout: topics 
metatitle: U.S. Army CORE Support | Topics Page
title: Your Profile
area: account-prefs
topic: getting-started
tohome: ../../../../
---

<div class="main" role="main">
    {% assign datafile = site.data.ap_as_profile %}
    {% include supp-header.html %}

    <div class="container">

        <div class="inner-container">
                                
            <div class="row topic-content-row">
                <!-- First narrow nav column here -->
                <div class="column large-3 medium-4 topics-pill-menu hide-for-small-only">
                    {% include supp-sidenav.html %}  
                </div>                               
                <!-- Second wider content column here -->
                <div class="column large-9 medium-8 small-12 topicspan">
                    {% include subtopics.html %}                      
                </div> <!-- End of Second column here -->
            </div>

        </div> <!-- End of inner containter here -->
        <div class="remove-space"></div>
        {% include supp-cantfind.html %}
    </div> <!-- End of inner containter here -->

</div> <!-- end of main -->
    
<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1(f).min.js"></script>
<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion_grid_vis-only).min.js"></script>
<script>$(document).foundation();</script>