/* https://github.com/RedHatBrand/overpass */

/* Webfont: Overpass-Bold */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Bold.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Bold.svg#Overpass-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-BoldItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.svg#Overpass-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Reg */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Regular.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Regular.svg#Overpass-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Italic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Italic.svg#Overpass-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Light */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Light.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Light.svg#Overpass-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-LightItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.svg#Overpass-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLight */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.svg#Overpass-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLightItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.svg#Overpass-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*Support General Layout*/
/*------------------------------------------------------------------------*/
body {
    font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5 {
    text-align: left;
}

.row{
    margin-bottom: 30px;
}

.topic-content-row{
    margin-bottom: 13.5rem;
    margin-top: 0em;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -110px;
}

.anchor {
    position: relative;
}

.sub-anchor a{
    position: absolute;
    left: 0px;
    top: -120px;
}

.sub-anchor {
    position: relative;
}

.article-space{
    margin-top: 1.875rem;
}

.article-para {
    margin-bottom: 1.25rem;
}

.article-sidenav{
    margin-top: 1.875rem;
    border-top: 5px solid #fec325;
    padding: 20px;
    border-bottom: 2px solid #fec325;
    background-color: rgba(255, 234, 179, .15);
    @include breakpoint(small) {
        margin-left: -9%;
        margin-right: -9%;
    }
    @include breakpoint(medium) {
        margin-left: -5%;
        margin-right: -5%;
    }
    @include breakpoint(large) {
        margin-left: 2%;
        margin-right: 0%;
    }
    @include breakpoint(xlarge) {
        margin-left: 12%;
        margin-right: 0%;
    }
    @include breakpoint(xxlarge) {
        margin-left: 12%;
        margin-right: 0%;
    }
}

.article-sidenav-list{
    text-transform: none;
    list-style-type: none;
}

.article-sidenav-title{
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    color: #252525;
    list-style-type: none;
}

.article-sidenav-item {
    margin-top: .75rem;
}

.article-sidenav-link{
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    color: #252525;
}

.gloss-title{
    font-weight: 600;
    margin-bottom: 1.25rem;
    padding-left: 0;
    @include breakpoint(small) {
        margin-bottom: 0;
        padding: 0;
    }
}

.gloss-def{
    margin-bottom: 1.25rem;
    padding-right: 0;
    @include breakpoint(small) {
        padding: 0;
    }
}
.sublexicon{
    margin-left: 2.5rem !important;
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}

.table-row-style{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px 15px 8px 15px;
}

.table-header-style{
    text-align: left;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #ddd;
    padding: 5px 15px 2px 15px;
}

.table-style{
    border-collapse: collapse;
    margin-bottom: 1.25rem;
}

.inner-container{
    margin: 0 .625rem;
    @include breakpoint(large) {
        margin: 0 .9375rem;
    }
}

.container{
    @include xy-grid-container;
    margin: 0 auto;
    max-width: 64rem;
}

.sect-space{
    margin: 2.1875rem 0 2.1875rem 0;
    overflow: visible;
}

.topic-center-row{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.art-icons{
    max-width: 20px;
    max-height: 16px;
    margin: 0 3px;
    vertical-align: baseline;
}

.data-img{
    margin: 1.5em 0;
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.data-img-no-border{
    margin: 1.5em 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.topicspan {    
    height: 100px;
    @include breakpoint(large) {
        height: 140px;
    }
}

.tab { margin-left: 40px; }

h3, h4, h5 {
    font-style: normal;
    color: #252525;
    text-transform: none;
}

h3:after, h4:after, h5:after {
    display: none;
}

.support-hr{
    margin: 2.5em 0;
    border: none;
    background-color: #ddd;
    height: 1px;
}

.support-text{
    font-weight: lighter;
}

.support-text-centered{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: #4d4d4d;
}

.remove-space{
    margin-top: -6rem;
}

.homepage-title{
    margin-top: 3em;
    margin-bottom: 0px;
}


.topic-spacer{
    padding-bottom: 1em;
}

.subtopic-spacer{
    margin: 5rem;
    display: block;
}

.topic-hr{
    border: none;
    background-color: #ddd;
    height: 1px;
    @include breakpoint(small) {
        margin-top: 0em;
        margin-bottom: 1em;
    }
}

/*Support Header*/
/*------------------------------------------------------------------------*/
.logo {
    height: 20px;
    margin: 20px;
    @include breakpoint(small) {
        height: 50%;
        margin: 18px;
    }
}

.logo-container {
    width: 66%;
    display: flex;
    @include breakpoint(small) {
        width: 33%;
        display: flex;
        justify-content: center;
    }
}

.hamburger-container{
    @include breakpoint(small) {
        width:33%;
        display: flex;
    }
    @include breakpoint(medium) {
        width:33%;
        display: flex;
    }
    @include breakpoint(large) {
        width:0%;
        display: unset;
    }
    @include breakpoint(xlarge) {
        width:0%;
        display: unset;
    }
    @include breakpoint(xxlarge) {
        width:0%;
        display: unset;
    }
}

.cs-header{
    padding: 0;
    min-width: 100%;
    z-index: 3;
    position: fixed;
}

.navbar {
    background: #252525;
    display: flex;
    height: 60px;
}

.mast-img{
    width: 100%;
}

.mast-container{
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

.overlay-effect{
    @include custom-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(35, 31, 32, 0.5) 0px, rgba(35, 31, 32, 0.8) 50%, rgba(35, 31, 32, 0.5));
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
        animation: spin .8s linear infinite;
        -moz-animation: spin .8s linear infinite;
        -webkit-animation: spin .8s linear infinite;
        -moz-transform-origin: 41.5px 12px 0;
        -webkit-transform-origin: 41.5px 12px 0;
        transform-origin: 41.5px 12px 0;
}

/*Support Top & SideNav*/
/*------------------------------------------------------------------------*/

.topics-pill-menu{
    position: fixed;
    background-color: #fff;
}

.title-pill{
    color:#252525;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
}

.title-pill:hover {
    text-decoration: none;
}

.title-pill-carrot{
    padding-left: 32px;
    vertical-align: sub;
}

.mobile-nested{
    margin-top: -60px !important;
}

#mobile-dropdown-menu{
    position: fixed;
    z-index: 3;
    top: 59px;
    width: 100%;
    padding-top: 30px;
}

.secondary-pill{
    color:#252525;
    font-weight: 400;
    border-left-style: solid;
    border-left-color: #fec325;
    border-left-width: 4px;
    white-space: nowrap;
    display: flex;
    font-size: 1rem;
}

.mobile-title-pills{
    color: #fff;
    font-weight: 600;
    font-size: 1.125rem;
    //white-space: nowrap;
    text-decoration: none;
}

.mobile-title-pills:hover{
    text-decoration: none;
}

.mobile-sec-pills{
    font-size: 1rem !important;
    color: #fff;
    text-decoration: none;
    font-weight: normal
}

.mobile-hr{
    margin: 1.75em 0;
    background-color: #333;
    border: none;
    height: 1px;
}

.mobile-li{
    //max-height: 40px;
}

.mobile-accord{
    line-height: 0;
    margin-bottom: 0;
    padding: 20px
}

.mobile-dropdown-container{
    background-color: #1a1a1a;
    height: 100%
}

.submenu-toggle{
    outline-color: #fff;
    height: 25px;
    font-size: large;
    transform: rotate(180deg);
}

//fix
.is-accordion-submenu{
    margin: 5%;
}

.topnav-bread{
    color: #252525;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}

.topnav-subtopic{
    font-weight: 600 !important;
}

.topnav-arrow-bread{
    font-weight: normal;
    color: gray;
    font-size: small;
    margin: 0 12px;
}

.is-active{
    color: #fec325 !important;
    font-weight: bold; 
    display: block !important
}

.is-active-parent{
    color: #252525 !important;
    font-weight: bold !important;
}

/*Support Homepage Topic Boxes*/
/*------------------------------------------------------------------------*/

.topic-box{
    padding: 30px;
    border: solid 1px #ccc;
}

a:hover.topic-box{
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    text-decoration: none;
    border-color: #ccc;

}
.supp-topic-icon-box{
    padding-bottom: 10%;
    text-align: center;
}
.supp-topic-icon{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    display: block;
}

.supp-topic-title{
    color: #252525;
    text-align: center;
    align-content: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    padding-bottom: 1em;
}

.area-title{
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 23px;
}

.topic-title{
    font-size: 2rem;
    font-weight: 600;
    color: #252525;
    margin-top: 0;
}

.topics-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #f9b21b;
}

.underline-link{
    text-decoration: none;
    font-weight: 400;
    color: #0071bb;
    border-bottom: 1px solid #ccc;
}

.underline-link:hover{
    text-decoration: none;
    color: #00558c;
    border-bottom-color: #00558c;
}

.subtopic-title{
    font-size: 1.4rem;
    font-weight: 600 !important;
    text-transform: inherit;
}

.subtopic-sect-title{
    font-size: 1.5rem;
    font-weight: 600 !important;
    text-transform: inherit;
    margin: 1.25em 0 1.25rem 0;
}

.supp-post-it{
    padding: 10px;
}

.topic-text{
    color: #252525;
    font-weight: normal !important;
}

.para-title{
    color: #252525;
    font-weight: bold;
    font-size: 1rem;
    text-transform: inherit;
}

.list-title{
    color: #252525;
    font-weight: normal;
    font-size: 1rem;
    text-transform: inherit;
    margin: 1.25rem 0 1.25rem 0;
}

.topic-subtext{
    color: #7f7f7f;
    font-weight: normal !important;
    font-size: 0.875rem;
}

.bullet-item{
    display: list-item;
    list-style-type: disc;
    margin-left: 2.25rem;
    padding-left: 0.25rem;
    margin-top: 10px;
}

.subbullet-item{
    display: list-item; 
    list-style-type: circle;
    padding-left: .5rem;
    margin-left: 2rem;
    margin-top: 10px;
}

.num-item{
    display: list-item; 
    list-style-type: decimal;
    padding-left: .5rem;
    margin-left: 2rem;
    margin-top: 10px;
}

.sublist{
    padding-left: 2.5rem;
}

.topic-text-learn{
    background-color: #fbf2d0;
    color: #06363C;
    border-left: 5px solid #D1CAAD;
    margin-bottom: 1rem;
}

.topic-text-note{
    background-color: #fbf2d0;
    color: #06363C;
    border-left: 5px solid #D1CAAD;
    margin-bottom: 1rem;
}

.topic-text-tip{
    background-color: #def1f4;
    color: #06363C;
    border-left: 5px solid #BECFD1;
    margin-bottom: 1rem;
}

.topic-link{
    font-weight: 600;
    font-size: 1em;
    color: #666666;
    font-family: 'Overpass';
    font-weight: normal;
}

// .topics-content{
//     padding-right: 0;
//     @include breakpoint(small) {
//         padding: 0% 1%;
//         margin-top: 5%;
//     }
// }

/*Support Cant Find Section*/
/*------------------------------------------------------------------------*/
.find-row{
    margin: 3.75rem 0rem;
    padding: 50px 20px;
    background-color: #fec325;
}

.find-row .row {
    margin-bottom: 0 !important;
}

.find-btn{
    background-color: #fff;
    border-radius: 55px;
    padding: 20px 30px 15px;
    // height: 50px;
    // width: 250px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.find-btn:hover{
    box-shadow: 0 0px 15px rgba(0,0,0,0.5);
    cursor: pointer;
    text-decoration: none;
}

.find-title{
    font-size: 1.65rem;
    color: #252525;
    font-weight: bold; 
}

.find-text{
    font-size: 1.2rem;
    color: #252525;
    @include breakpoint(small) {
        margin-top: 0px !important;
        margin-bottom: 30px !important;
    }
    @include breakpoint(medium) {
        margin-bottom: 30px !important;
    }
}

.find-btn-text{
    font-weight: bold; 
    font-size: 1.25rem;
    color: #252525;
}

/*Search Content*/
/*-----------------------------------------------------------------*/

#search-input { 
    outline: none;
    margin: 15px 0px 15px 25px;
    font-size: 1rem;
    color: #252525;
    border: none;
    width: calc(100% - 70px);
}

.supp-searchbox{
    z-index: 3 !important;
    margin: 12% 5% 0% 15%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 28px;
    background: #fff; 
    color: #ccc;
    min-width: 70%;
}

.search-text{
    color: #666666;
}

.search-term{
    color: #252525;
    font-weight: 600;
}
@keyframes fadein {
    from {color: #666666; font-size: 100%; font-weight: 400;}
    to {color: #fec325; font-size: 130%; font-weight: 600}
}

#search-term{
    font-size: 0.875rem;
    font-weight: 400;
    color: #252525;
}

.search-hr{
    margin: 1em 0;
}

.search-icons{
    color:#fec325;
    font-size:126%;
    margin:12px 20px;
}

.searchbox-hr{
    width: 100%;
    margin: 0 0 !important;
}

.mast-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    text-transform: none;
    line-height: 1.3em;
    @include breakpoint(small) {
        font-size: 2.5rem;
    }
    @include breakpoint(medium) {
        font-size: 3.25rem;
    }
    @include breakpoint(large) {
        font-size: 4.75rem;
        margin-bottom: 40px;
    }
    @include breakpoint(xlarge) {
        font-size: 5.25rem;
    }
    @include breakpoint(xxlarge) {
        font-size: 5.25rem;
    }
}

.mast-inner-container{   
    margin: 0 auto;
    padding: 0 25px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: -webkit-center;
    @include breakpoint(xlarge) {
        padding: 0 25px 30px;
    }
}

.mast-search-container{
    background-color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    max-width: 600px;
}

.mast-search-input{
    margin: 10px 20px;
    font-style: normal;
    font-size: 1rem;
    color: #B3B3B3;
}

.mast-search-icon{
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -259px -74px;
    height: 21px;
    margin: 18px 0;
    width: 24px;
}

.header-search-icon{
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -259px -74px;
    height: 21px;
    margin: 18px 0;
    width: 24px;
}

.header-close-icon{
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -282px -48px;
    height: 21px;
    margin: 18px 0;
    width: 24px;
}

.search-mast{
    position: fixed;
    z-index: 2 !important;
    top: 60px;
    width: 100%;
    background-color: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
}

.dropdown-searchbox{
    display: flex;
    justify-content: start;
    border: 1px solid #ccc;
    border-radius: 28px;
    background: #fff; 
    color: #ccc;
    margin: 2.5rem 1.25rem;
    max-width: 60rem;       
    width: 100%;
    @include breakpoint(medium) {
        margin: 3rem 1.5625rem;
    }
    @include breakpoint(large) {
        margin: 3.75rem 1.875rem;
    }
}

#search-icons:hover{
    background-color:#666666;
}

.nav-btn{
    display: flex;
}

.nav-btn:focus{
    outline: none;
}

.search-btn-container{
    display: flex;
    justify-content: center;
}

.search-page-container{
    margin-top: 25%;
}

#results-container{
    margin-top: 2.1875rem;
}

#results-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

#result-total{
    font-size: 0.875rem;
    color: #7f7f7f;
}

.result-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: #252525
}

.result-topic-container{
    margin-bottom: 2.5rem;
}

.result-excerpt{
    color: #7f7f7f;
    font-weight: 400;
    font-size: 1rem;
}

.hider{
    display: none;
}

.mobile-center { 
    text-align: center;
    @include breakpoint(large) {
        text-align: unset;
    }
}

/*------------------------------------------------------------------------*/
/*
/*              Responsive Mobile Style
/*
/*------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
    h1, h2, h3, h4, h5 {
        text-align: left;
    }
    
    .supp-mobile-navbar {
        background: #252525;
        display: flex;
        height: 55px;
        position: relative;
        min-width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .support-text-centered {
        margin: 0% 9% !important;
    }

    .overlay-effect{
    @include custom-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(35, 31, 32, 0.5) 0px, rgba(35, 31, 32, 0.8) 50%, rgba(35, 31, 32, 0.5));
    height: 7%;
    position: absolute;
    width: 100%;
    z-index: 2;
    }

    .row {
        margin-bottom: 30px !important;
        margin-top: 30px !important;
    }

    .remove-space {
        margin-top: 0rem;
    }

    /*Support Cant Find Section*/
    /*------------------------------------------------------------------------*/
    .topic-text {
        font-size: small;
    }

    .subtopic-title {
        font-size: smaller
    }

    .search-page-container{
        margin-top: 45% !important;
    }
}

/*------------------------------------------------------------------------*/
/*
/*              Responsive Tablet Style
/*
/*------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    h1, h2, h3, h4, h5 {
        text-align: left;
    }

    .support-text-centered {
        margin: 0% 7%;
    }

}
