/* https://github.com/RedHatBrand/overpass */

/* Webfont: Overpass-Bold */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Bold.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Bold.svg#Overpass-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-BoldItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.svg#Overpass-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Reg */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Regular.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Regular.svg#Overpass-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Italic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Italic.svg#Overpass-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Light */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Light.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Light.svg#Overpass-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-LightItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.svg#Overpass-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLight */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.svg#Overpass-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLightItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.svg#Overpass-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*Support General Layout*/
/*------------------------------------------------------------------------*/
body {
    font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5 {
    text-align: left;
}

strong {
    color: #333;
}

.row {
    margin-bottom: 30px;
}

.topic-content-row {
    margin-bottom: 13.5rem;
    margin-top: 0em;
}

.anchor a {
    left: 0px;
    position: absolute;
    top: -110px;
    @include breakpoint(medium) {
        top: -120px;
    }
    @include breakpoint(large) {
        top: -130px;
    }
}

.anchor {
    position: relative;
}

.sub-anchor a {
    left: 0px;
    position: absolute;
    top: -110px;
    @include breakpoint(medium) {
        top: -120px;
    }
    @include breakpoint(large) {
        top: -130px;
    }
}

.sub-anchor {
    padding-left: 0;
    position: relative;
}

.topic-list-item {
    padding: 0;
}

.article-space {
    margin-top: .9375rem;
    @include breakpoint(large) {
        margin-top: 1.875rem;
    }
}

.article-para {
    margin-bottom: 1.25rem;
}

.article-sidenav {
    background-color: rgba(255, 234, 179, .15);
    border-top: 5px solid #fec325;
    border-bottom: 2px solid #fec325;
    margin: 0 -1.5625rem;
    padding: 1.5625rem;
    @include breakpoint(large) {
        margin: 1.875rem 0 0 2%;
        padding: 20px;
    }
    @include breakpoint(xlarge) {
        margin: 1.875rem 0 0 12%;
    }
}

.article-sidenav-list {
    list-style-type: none;
    text-transform: none;
}

.article-sidenav-title {
    color: #252525;
    font-size: 1.25rem;
    font-weight: 600;
    list-style-type: none;
    text-transform: none;
}

.article-sidenav-item {
    margin-top: .75rem;
}

.article-sidenav-link {
    color: #252525;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
}

.gloss-title {
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
    
    @include breakpoint(medium) {
        margin-bottom: 1.25rem;
        padding-right: .9375rem;
    }
}

.gloss-def {
    margin-bottom: 1.25rem;
    padding: 0;
    
    @include breakpoint(medium) {
        padding-left: .9375rem;
    }
}

.sublexicon {
    margin-left: 2rem !important;
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
    
    @include breakpoint(large) {
        margin-left: 2.5rem !important;
    }
}

.table-row-style {
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px 15px 8px 15px;
    text-align: left;
}

.table-header-style {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px 15px 2px 15px;
    text-align: left;
}

.table-style {
    border-collapse: collapse;
    margin-bottom: 1.25rem;
}

.faq-title{
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom-style: solid;
    border-bottom-color: #fec325;
    border-bottom-width: 5px;
    width: max-content;
    margin-bottom: 30px;
}

.faq-question{
    font-size: 1rem;
    font-weight: 600;
    border-left-style: solid;
    border-left-color: #fec325;
    border-left-width: 5px;
    padding: 10px 10px 10px 10px;
}

.faq-answer{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 10px 10px 15px;
    margin: 0px;
}
.faq-box{
    background-color: #f5f5f5;
    border-bottom-color: #cccccc;;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 30px;
}

.inner-container {
    margin: 0 .625rem;
    @include breakpoint(large) {
        margin: 0 .9375rem;
    }
}

.container {
    @include xy-grid-container;
    margin: 0 auto;
    max-width: 64rem;
}

.sect-space {
    margin: 2.1875rem 0 2.1875rem 0;
    overflow: visible;
}

.topic-center-row {
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.art-icons {
    margin: 0 3px;
    max-width: 20px;
    max-height: 16px;
    vertical-align: baseline;
}

.data-img {
    border: 1px solid #ddd;
    display: block;
    margin: 1.5em auto;
}

.data-img-no-border {
    display: block;
    margin: 1.5em auto;
}

.topicspan-start{
    height: 110px;
    @include breakpoint(medium) {
        height: 120px;
    }
    @include breakpoint(large) {
        height: 130px;
    }
}

.topicspan {    
    height: 110px;
    animation: slideBack-sm 0.7s;
    @include breakpoint(medium) {
        height: 120px;
        animation: slideBack-smd 0.7s;
    }
    @include breakpoint(large) {
        height: 130px;
        animation: slideBack-lg 0.7s;
    }
}

.topicspan-plus{
    animation: slide-sm 0.7s;
    height: 260px;
    @include breakpoint(medium) {
        animation: slide-med 0.7s;
        height: 270px;
    }
    @include breakpoint(large) {
        animation: slide-lg 0.7s;
        height: 280px; 
    }
}

@keyframes slideBack-sm {
    from {height: 260px; }
    to {height: 110px; }
}
@keyframes slideBack-med {
    from {height: 270px; }
    to {height: 120px; }
}
@keyframes slideBack-lg {
    from {height: 280px; }
    to {height: 130px; }
}


@keyframes slide-sm {
    from {height: 110px; }
    to {height: 260px; }
}
@keyframes slide-med {
    from {height: 120px; }
    to {height: 270px; }
}
@keyframes slide-lg {
    from {height: 130px; }
    to {height: 280px; }
}

.tab { margin-left: 40px; }

h3, h4, h5 {
    color: #252525;
    font-style: normal;
    text-transform: none;
}

h3:after, h4:after, h5:after {
    display: none;
}

.support-hr {
    background-color: #ddd;
    border: none;
    height: 1px;
    margin: 2.5em 0;
}

.support-text {
    font-weight: lighter;
}

.support-text-centered {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    text-align: center;
}

.remove-space {
    margin-top: -6rem;
}

.homepage-title {
    margin-top: 3em;
    margin-bottom: 0px;
}

.topic-spacer {
    padding-bottom: 1em;
}

.subtopic-spacer {
    display: block;
    height: 35px;
}

.topic-hr {
    background-color: #ddd;
    border: none;
    height: 1px;
    margin: 4rem 0;
}

/*Support Header*/
/*------------------------------------------------------------------------*/
.logo {
    margin: 11px;
    text-align: center;
    width: 100px;
    @include breakpoint(medium) {
        margin: 18px 0;
        text-align: center;
        width: 330px;
    }
    @include breakpoint(large) {
        margin: 18px 0;
        text-align: center;
        width: 330px;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 60%;
    @include breakpoint(large) {
        width: 80%;
        justify-content: left;
    }
}

.hamburger-container {
    display: flex;
    width:20%;
    @include breakpoint(large) {
        width:0%;
        display: unset;
    }
}

.hamburger-icon {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -233px 0;
    height: 21px;
    margin: 20px;
    width: 24px;
}

.hamburger-icon-open {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -284px 0;
    height: 21px;
    margin: 20px 22px;
    width: 21px;
}

.cs-header {
    background: #252525;
    min-width: 100%;
    padding: 0;
    position: fixed;
    z-index: 3;
}

.navbar {
    display: flex;
    height: 60px;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
    @include breakpoint(large) {
        padding: 0 .625rem 0 1.875rem;
    }
}

.mast-img {
    width: 100%;
}

.mast-container {
    color: #fff;
    margin-top: 60px;
    position: relative;
    text-align: center;
}

.overlay-effect {
    @include custom-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(35, 31, 32, 0.5) 0px, rgba(35, 31, 32, 0.8) 50%, rgba(35, 31, 32, 0.5));
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin .8s linear infinite;
    -moz-animation: spin .8s linear infinite;
    -webkit-animation: spin .8s linear infinite;
    -moz-transform-origin: 41.5px 12px 0;
    -webkit-transform-origin: 41.5px 12px 0;
    transform-origin: 41.5px 12px 0;
}

/*Support Top & SideNav*/
/*------------------------------------------------------------------------*/

.topics-pill-menu {
    display: none;
    @include breakpoint(large) {
        display: unset;
        max-width: 200px;
        position: fixed;
    }
}

.title-pill {
    color:#252525;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 !important;
    justify-content: space-between;
    white-space: nowrap;
    
    &:hover {
        text-decoration: none;
    }
}
 
.title-pill:hover .title-pill-carrot-closed {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -576px -175px;
    height: 9px;
    margin: 7px 1rem;
    position: absolute;
    right: 0;
    width: 15px;
}

.title-pill-carrot-open, .title-pill:focus .title-pill-carrot-open {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -576px -166px;
    height: 9px;
    margin: 7px 1rem;
    position: absolute;
    right: 0;
    width: 15px;
}

.mobile-nested {
    margin-top: -60px !important;
}

#mobile-dropdown-menu {
    padding: 8px 20px 0;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 3;
    
    ul {
        margin-bottom: 0;
    }
    
    .submenu {
        border-bottom: 1px solid #333;
        margin: 0 !important;
        padding: 1.125rem .75rem !important;
    }
    
    .title-pill-carrot {
        background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
        background-position: -600px -179px;
        height: 13px;
        margin: 4px 0;
        position: absolute;
        right: 1rem;
        transform: rotate(-180deg);
        transition-duration: .25s;
        width: 24px;
    }
    
    .title-pill-carrot.hider {
       display: unset;
       transform: rotate(-90deg);
       transition-duration: .25s;
    }
}

.secondary-pill {
    border-left-style: solid;
    border-left-color: #fec325;
    border-left-width: 4px;
    color:#252525;
    display: flex;
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
}

.mobile-title-pills {
    border-bottom: 1px solid #333;
    color: #fff;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1.5rem .75rem !important;
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}

.mobile-sec-pills {
    font-size: 1rem !important;
    color: #fff;
    text-decoration: none;
    font-weight: normal
}

.mobile-accord {
    line-height: 0;
    margin-bottom: 0;
    padding: 20px
}

.mobile-dropdown-container {
    background-color: #1a1a1a;
    height: 100%
}

.submenu-toggle {
    height: 25px;
    font-size: large;
    outline-color: #fff;
    transform: rotate(180deg);
}

//fix
.is-accordion-submenu {
    margin: 10px 0 0 4px !important;
}

.topnav-bread {
    color: #252525;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
}

.topnav-subtopic {
    font-weight: 600 !important;
}

.topnav-arrow-bread {
    color: gray;
    font-size: small;
    font-weight: normal;
    margin: 0 12px;
}

.is-active {
    color: #fec325 !important;
    font-weight: bold; 
    display: block !important
}

.is-active-parent {
    color: #252525 !important;
    font-weight: bold !important;
}

/*Support Homepage Topic Boxes*/
/*------------------------------------------------------------------------*/

.topic-box {
    padding: 30px;
    border: solid 1px #ccc;
}

a:hover.topic-box {
    border-color: #ccc;
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    text-decoration: none;
    transition: all .4s ease-out;
}

.supp-topic-icon-box {
    padding-bottom: 10%;
    text-align: center;
}
.supp-topic-icon {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.supp-topic-title {
    align-content: center;
    color: #252525;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    padding-bottom: 1em;
    text-align: center;
}

.area-title {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 23px;
    text-align: left;
}

.topic-title {
    color: #252525;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
}

.topics-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f9b21b;
}

.underline-link {
    border-bottom: 1px solid #ccc;
    color: #0071bb;
    font-weight: 400;
    text-decoration: none;
    
    &:hover{
        color: #00558c;
        border-bottom-color: #00558c;
        text-decoration: none;
    }
}

.subtopic-title {
    font-size: 1.4rem;
    font-weight: 600 !important;
    text-transform: inherit;
}

.subtopic-sect-title {
    font-size: 1.5rem;
    font-weight: 600 !important;
    margin: 1.25em 0 1.25rem 0;
    text-transform: inherit;
}

.supp-post-it {
    padding: 10px;
}

.topic-text {
    color: #252525;
    font-weight: normal !important;
}

.para-title {
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    text-transform: inherit;
}

.list-title {
    color: #252525;
    font-weight: normal;
    font-size: 1rem;
    margin: 1.25rem 0 1.25rem 0;
    text-transform: inherit;
}

.topic-subtext {
    color: #7f7f7f;
    font-weight: normal !important;
    font-size: 0.875rem;
}

.bullet-item {
    display: list-item;
    list-style-type: disc;
    margin-left: 1.75rem;
    margin-top: 10px;
    padding-left: 0.25rem;
    
    @include breakpoint(large) {
        margin-left: 2.25rem;
    }
}

.subbullet-item {
    display: list-item; 
    list-style-type: circle;
    margin-left: 1.5rem;
    margin-top: 10px;
    padding-left: .5rem;
    
    @include breakpoint(large) {
        margin-left: 2rem;
    }
}

.num-item {
    display: list-item; 
    list-style-type: decimal;
    margin-left: 1.5rem;
    margin-top: 10px;
    padding-left: .5rem;
    
    @include breakpoint(large) {
        margin-left: 2rem;
    }
}

.sublist {
    padding-left: 2rem;
    
    @include breakpoint(large) {
        padding-left: 2.5rem;
    }
}

.topic-text-learn {
    background-color: #fbf2d0;
    border-left: 5px solid #D1CAAD;
    color: #06363C;
    margin-bottom: 1rem;
    
    strong {
        color: #06363C;
    }
}

.topic-text-note {
    background-color: #fbf2d0;
    border-left: 5px solid #D1CAAD;
    color: #06363C;
    margin-bottom: 1rem;
     
    strong {
        color: #06363C;
    }
}

.topic-text-tip {
    background-color: #def1f4;
    border-left: 5px solid #BECFD1;
    color: #06363C;
    margin-bottom: 1rem;
    
    strong {
        color: #06363C;
    }
}

.topic-link {
    color: #666666;
    font-size: 1em;
    font-family: 'Overpass';
    font-weight: 400;
}

/*Support Cant Find Section*/
/*------------------------------------------------------------------------*/
.find-row {
    margin: 3.75rem 0rem;
    padding: 50px 0;
    background-color: #fec325;
    
    & .row {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        max-width: 64em;
        padding: 0 .625rem;
        @include breakpoint(medium) {
            padding: 0.9375rem;
        }    
    }
}

.find-mobile {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    @include breakpoint(large) {
        justify-content: flex-end;
    }
}

.find-btn {
    background-color: #fff;
    border-radius: 55px;
    font-size: 1.25rem;
    font-weight: 700;
    outline: none;
    padding: 20px 30px 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    &:hover {
        box-shadow: 0 0px 15px rgba(0,0,0,0.5);
        cursor: pointer;
        text-decoration: none;
    }
}

.find-title {
    color: #252525;
    font-size: 1.65rem;
    font-weight: bold; 
}

.find-text {
    color: #252525;
    font-size: 1.2rem;
    margin-top: 0px !important;
    margin-bottom: 1.5rem !important;
    @include breakpoint(large) {
        margin-bottom: 0 !important;
    }
}

/*Search Content*/
/*-----------------------------------------------------------------*/

#search-input { 
    border: none;
    color: #252525;
    font-size: 1rem;
    margin: 15px 15px 15px 25px;
    outline: none;
    width: calc(100% - 85px);
}

.supp-searchbox {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 28px;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    margin: 12% 5% 0% 15%;
    min-width: 70%;
    z-index: 3 !important;
}

.search-text {
    color: #666666;
}

.search-excerpt {
    color: white;
    display: none;
}

.search-term {
    color: #252525;
    font-weight: 600;
}
@keyframes fadein {
    from {color: #666666; font-size: 100%; font-weight: 400;}
    to {color: #fec325; font-size: 130%; font-weight: 600}
}

#search-term {
    color: #252525;
    font-size: 0.875rem;
    font-weight: 400;
}

.search-hr {
    margin: 1em 0;
}

.searchbox-hr {
    margin: 0 0 !important;
    width: 100%;
}

.mast-title {
    color: #fff;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: none;
    
    @include breakpoint(small) {
        font-size: 2.5rem;
    }
    @include breakpoint(medium) {
        font-size: 3.25rem;
    }
    @include breakpoint(large) {
        font-size: 4.75rem;
        margin-bottom: 40px;
    }
    @include breakpoint(xlarge) {
        font-size: 5.25rem;
    }
    @include breakpoint(xxlarge) {
        font-size: 5.25rem;
    }
}

.mast-inner-container {   
    left: 50%;
    margin: 0 auto;
    padding: 0 25px 15px;
    position: absolute;
    text-align: -webkit-center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
    @include breakpoint(xlarge) {
        padding: 0 25px 30px;
    }
}

.mast-search-container {
    background-color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    max-width: 600px;
}

.mast-search-input {
    color: #B3B3B3;
    font-size: 1rem;
    font-style: normal;
    margin: 10px 20px;
}

.mast-search-icon {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -259px -74px;
    height: 21px;
    margin: 18px 0;
    width: 24px;
}

.header-search-icon {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -259px 0;
    height: 21px;
    margin: 20px;
    width: 24px;
}

.header-close-icon {
    background-image: url(/e2/images/rv7/mobile_redesign_sprite_icons_v3.svg);
    background-position: -284px 0;
    height: 21px;
    margin: 20px 22px;
    width: 21px;
}

.search-mast {
    background-color: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 2 !important;
}

.dropdown-searchbox {
    background: #fff; 
    border: 1px solid #ccc;
    border-radius: 28px;
    color: #ccc;
    display: flex;
    justify-content: start;
    margin: 2.5rem 1.25rem;
    max-width: 60rem;       
    width: 100%;
    
    @include breakpoint(medium) {
        margin: 3rem 1.5625rem;
    }
    @include breakpoint(large) {
        margin: 3.75rem 1.875rem;
    }
}

.mobile-search-btn-container {
    width:20%;
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    display: flex;
    
    &:focus{
        outline: none;
    }
}

.search-btn-container {
    display: flex;
    justify-content: center;
}

.search-page-container {
    margin-top: 215px;
    max-width: 48rem;
    
    @include breakpoint(large) {
        margin-top: 240px;
    }
}

#results-container {
    margin-top: 2.1875rem;
}

#results-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

#result-total {
    font-size: 0.875rem;
    color: #7f7f7f;
}

.result-title {
    color: #252525;
    font-size: 1.125rem;
    font-weight: 600;
}

.result-topic-container {
    margin-bottom: 2.5rem;
}

.result-excerpt {
    color: #7f7f7f;
    font-size: 1rem;
    font-weight: 400;
}

.hider {
    display: none;
}

.mobile-center { 
    text-align: center;
    @include breakpoint(large) {
        text-align: unset;
    }
}

/*------------------------------------------------------------------------*/
/*
/*              Responsive Mobile Style
/*
/*------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
    h1, h2, h3, h4, h5 {
        text-align: left;
    }
    
    .supp-mobile-navbar {
        background: #252525;
        display: flex;
        height: 55px;
        justify-content: space-around;
        min-width: 100%;
        position: relative;
    }

    .support-text-centered {
        margin: 0% 9% !important;
    }

    .overlay-effect {
        @include custom-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(35, 31, 32, 0.5) 0px, rgba(35, 31, 32, 0.8) 50%, rgba(35, 31, 32, 0.5));
        height: 7%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .row {
        margin-bottom: 30px !important;
        margin-top: 30px !important;
    }

    .remove-space {
        margin-top: 0rem;
    }

    /*Support Cant Find Section*/
    /*------------------------------------------------------------------------*/
    .topic-text {
        font-size: small;
    }

    .subtopic-title {
        font-size: smaller
    }

    .search-page-container {
        margin-top: 200px !important;
    }
}

/*------------------------------------------------------------------------*/
/*
/*              Responsive Tablet Style
/*
/*------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    h1, h2, h3, h4, h5 {
        text-align: left;
    }

    .support-text-centered {
        margin: 0% 7%;
    }
}
