/* https://github.com/RedHatBrand/overpass */

/* Webfont: Overpass-Bold */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Bold.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Bold.svg#Overpass-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-BoldItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Bold-Italic.svg#Overpass-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Reg */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Regular.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Regular.svg#Overpass-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Italic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Italic.svg#Overpass-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Light */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Light.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Light.svg#Overpass-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-LightItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-Light-Italic.svg#Overpass-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLight */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight.svg#Overpass-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLightItalic */
@font-face {
    font-family: 'Overpass';
    src: url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.woff') format('woff'), /* Modern Browsers */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/e2/fonts/rv7/overpass/Overpass-ExtraLight-Italic.svg#Overpass-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*Support General Layout*/
/*------------------------------------------------------------------------*/
body {
    font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5 {
    text-align: left;
}

.row{
    margin-bottom: 30px;
}

.topic-content-row{
    margin-bottom: 13.5rem;
    margin-top: 0em;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -110px;
}

.anchor {
    position: relative;
}

.sub-anchor a{
    position: absolute;
    left: 0px;
    top: -120px;
}

.sub-anchor {
    position: relative;
}

.article-space{
    margin-top: 3.125rem;
}

.article-para {
    margin-bottom: 1.25rem;
}

.article-sidenav{
    margin-top: 5.25rem;
    border-top: 5px solid #fec325;
    padding: 20px;
    border-bottom: 2px solid #fec325;
    background-color: rgba(255, 234, 179, .15);
    margin-left: 18%
}

.article-sidenav-list{
    text-transform: none;
    list-style-type: none;
}

.article-sidenav-title{
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    color: #252525;
    list-style-type: none;
}

.article-sidenav-item {
    margin-top: .75rem;
}

.article-sidenav-link{
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    color: #252525;
}

.gloss-title{
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.gloss-def{
    margin-bottom: 1.25rem;
}
.sublexicon{
    margin-left: 1.5625rem !important;
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}

.table-row-style{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px 15px 8px 15px;
}

.table-header-style{
    text-align: left;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #ddd;
    padding: 5px 15px 2px 15px;
}

.table-style{
    border-collapse: collapse;
    margin-bottom: 1.25rem;
}

.icons-container{
    margin-top: 1rem;
    margin-bottom: 40px;
    @include breakpoint(small) {
        margin-left: 3.375rem;
        margin-right: 3.375rem
    }
    @include breakpoint(medium) {
        margin-left: 3.375rem;
        margin-right: 3.375rem
    }
}

.container{
    @include xy-grid-container;
    max-width: 54rem;
    @include breakpoint(small) {
        max-width: 26rem;
    }
    @include breakpoint(medium) {
        max-width: 44rem;
    }
    @include breakpoint(large) {
        max-width: 48rem;
    }
    @include breakpoint(xlarge) {
        max-width: 64rem;
    }
    @include breakpoint(xxlarge) {
        max-width: 69rem;
    }
}

.sect-space{
    margin: 2.1875rem 0 2.1875rem 0;
    overflow: visible;
}

.topic-center-row{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.art-icons{
    max-width: 20px;
    max-height: 16px;
    margin: 0 3px;
}

.data-img{
    margin: 1.5em 0;
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.data-img-no-border{
    margin: 1.5em 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.topicspan{    
    padding-top: 6%;
}

.topicspan{    
    padding-top: 6%;
}

.tab { margin-left: 40px; }

.topicspan-plus{    
    padding-top: 6%;
    animation: slideBack 0.7s;
}

@keyframes slideBack {
    from {padding-top: 13% }
    to {padding-top: 6% }
}


h3, h4, h5 {
    font-style: normal;
    color: black;
    text-transform: none;
}

h3:after, h4:after, h5:after {
    display: none;
}

.support-hr{
    margin: 2.5em 0;
    border: none;
    background-color: #ddd;
    height: 1px;
}

.support-text{
    font-weight: lighter;
}

.support-text-centered{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: #4d4d4d;
}

.remove-space{
    margin-top: -6rem;
}

.homepage-title{
    margin-top: 3em;
    margin-bottom: 0px;
}


.topic-spacer{
    padding-bottom: 1em;
}

.subtopic-spacer{
    margin: 5rem;
    display: block;
}



.topic-hr{
    border: none;
    background-color: #ddd;
    height: 1px;
}

/*Support Header*/
/*------------------------------------------------------------------------*/
.logo {
    height: 20px;
    margin: 20px;
}

.logo-container {
    width: 66%;
    display: flex;
}

.hamburger-container{
    width:0%;
}

.cs-header{
    padding: 0;
    min-width: 100%;
    z-index: 3;
    position: fixed;
}

.navbar {
    background: #252525;
    display: flex;
    height: 60px;
}

.mast-img{
    width: 100%;
}

.mast-container{
    position: relative;
    text-align: center;
    color: white;
    margin-top: 60px;
}

.overlay-effect{
    @include custom-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(35, 31, 32, 0.5) 0px, rgba(35, 31, 32, 0.8) 50%, rgba(35, 31, 32, 0.5));
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
        animation: spin .8s linear infinite;
        -moz-animation: spin .8s linear infinite;
        -webkit-animation: spin .8s linear infinite;
        -moz-transform-origin: 41.5px 12px 0;
        -webkit-transform-origin: 41.5px 12px 0;
        transform-origin: 41.5px 12px 0;
}

/*Support Top & SideNav*/
/*------------------------------------------------------------------------*/

.topics-pill-menu{
    position: fixed;
    background-color: white;
}

.title-pill{
    color:#252525;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
}

.title-pill:hover {
    text-decoration: none;
}

.title-pill-carrot{
    padding-left: 32px;
    vertical-align: sub;
}

.mobile-nested{
    margin-top: -60px !important;
}

#mobile-dropdown-menu{
    position: fixed;
    z-index: 3;
    top: 59px;
    width: 100%;
    padding-top: 30px;
}

.secondary-pill{
    color:#252525;
    font-weight: 400;
    border-left-style: solid;
    border-left-color: #fec325;
    border-left-width: 4px;
    white-space: nowrap;
    display: flex;
    font-size: 1rem;
}

.mobile-title-pills{
    color:white;
    font-weight: 600;
    font-size: 1.125rem;
    //white-space: nowrap;
    text-decoration: none;
}

.mobile-title-pills:hover{
    text-decoration: none;
}

.mobile-sec-pills{
    font-size: 1rem !important;
    color: white;
    text-decoration: none;
    font-weight: normal
}

.mobile-hr{
    margin: 1.75em 0;
    background-color: #333;
    border: none;
    height: 1px;
}

.mobile-li{
    //max-height: 40px;
}

.mobile-accord{
    line-height: 0;
    margin-bottom: 0;
    padding: 20px
}

.mobile-dropdown-container{
    background-color: #1a1a1a;
    height: 100%
}

.submenu-toggle{
    outline-color: white;
    height: 25px;
    font-size: large;
    transform: rotate(180deg);
}

//fix
.is-accordion-submenu{
    margin: 5%;
}

.topnav-bread{
    font-weight: 500;
    color: #252525;
    font-size: 1rem;
}

.topnav-subtopic{
    font-weight: 600 !important;
    color: #252525;
    font-size: 1rem;
}

.topnav-arrow-bread{
    font-weight: normal;
    color: gray;
    font-size: small;
    margin: 0 12px;
}

.is-active{
    color: #fec325 !important;
    font-weight: bold; 
    display: block !important
}

.is-active-parent{
    color: black !important;
    font-weight: bold !important;
}

/*Support Homepage Topic Boxes*/
/*------------------------------------------------------------------------*/

.topic-box{
    display: block;
    position: relative;
    overflow: hidden;
    padding: 30px;
    border: solid 1px #ccc;
    height: 250px;
}

a:hover.topic-box{
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    text-decoration: none;
    border-color: #ccc;

}
.supp-topic-icon-box{
    padding-bottom: 10%;
    text-align: center;
}
.supp-topic-icon{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    display: block;
}

.supp-topic-title{
    color: black;
    text-align: center;
    align-content: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    padding-bottom: 1em;
}

.area-title{
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 23px;
}

.topic-title{
    font-size: 2rem;
    font-weight: 600;
    color: #252525;
}

.topics-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #f9b21b;
}

.underline-link{
    text-decoration: none;
    font-weight: 400;
    color: #0071bb;
    border-bottom: 1px solid #ccc;
}

.underline-link:hover{
    text-decoration: none;
    color: #00558c;
    border-bottom-color: #00558c;
}

.subtopic-title{
    font-size: 1.4rem;
    font-weight: 600 !important;
    text-transform: inherit;
}

.subtopic-sect-title{
    font-size: 1.5rem;
    font-weight: 600 !important;
    text-transform: inherit;
    margin: 1.25em 0 1.25rem 0;
}

.supp-post-it{
    padding: 10px;
}

.topic-text{
    color: black;
    font-weight: normal !important;
}

.para-title{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-transform: inherit;
}

.list-title{
    color: black;
    font-weight: normal;
    font-size: 1rem;
    text-transform: inherit;
    margin: 1.25rem 0 1.25rem 0;
}

.topic-subtext{
    color: #7f7f7f;
    font-weight: normal !important;
    font-size: 0.875rem;
}

.bullet-item{
    display: list-item;
    list-style-type: disc;
    margin-left: 2.25rem;
    padding-left: 0.25rem;
    margin-top: 10px;
}

.subbullet-item{
    display: list-item; 
    list-style-type: circle;
    padding-left: .5rem;
    margin-left: 4rem;
    margin-top: 10px;
}

.num-item{
    display: list-item; 
    list-style-type: decimal;
    padding-left: .5rem;
    margin-left: 2rem;
    margin-top: 10px;
}

.sublist{
    padding-left: 2.5rem;
}

.topic-text-learn{
    background-color: #fbf2d0;
    color: #06363C;
    border-left: 5px solid #D1CAAD;
    margin-bottom: 1rem;
}

.topic-text-note{
    background-color: #fbf2d0;
    color: #06363C;
    border-left: 5px solid #D1CAAD;
    margin-bottom: 1rem;
}

.topic-text-tip{
    background-color: #def1f4;
    color: #06363C;
    border-left: 5px solid #BECFD1;
    margin-bottom: 1rem;
}

.topic-link{
    font-weight: 600;
    font-size: 1em;
    color: #666666;
    font-family: 'Overpass';
    font-weight: normal;
}

.topics-content{
    padding-right: 0;
}

/*Support Cant Find Section*/
/*------------------------------------------------------------------------*/
.find-row{
    margin-bottom: 3.125rem;
    padding: 50px 20px;
    background-color: #fec325;
}

.find-row .row{
     margin-bottom: 0;
}

.find-col{
    margin-bottom:2.5%;
}

.find-btn{
    background-color: white;
    border-radius: 55px;
    padding: 20px 30px 15px;
    // height: 50px;
    // width: 250px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.find-btn:hover{
    box-shadow: 0 0px 15px rgba(0,0,0,0.5);
    cursor: pointer;
    text-decoration: none;
}

.find-title{
    font-size: 1.65rem;
    color: #252525;
    font-weight: bold; 
}

.find-text{
    font-size: 1.5rem;
    color: #252525;
}

.find-btn-text{
    font-weight: bold; 
    font-size: 1.25rem;
    color: #252525;
}

/*Search Content*/
/*-----------------------------------------------------------------*/

#search-input { 
    outline: none;
    margin: 10px 0px 10px 20px;
    font-size: 1rem;
    color: #252525;
    border: none;
}

.supp-searchbox{
    z-index: 3 !important;
    margin: 12% 5% 0% 15%;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 28px;
    background: white; 
    color: lightgrey;
    min-width: 70%;
}

.search-text{
    color: #666666;
}

.search-term{
    color: #252525;
    font-weight: 600;
}
@keyframes fadein {
    from {color: #666666; font-size: 100%; font-weight: 400;}
    to {color: #fec325; font-size: 130%; font-weight: 600}
}

#search-term{
    font-size: 0.875rem;
    font-weight: 500;
    color: #252525;
}

.search-hr{
    margin: 1em 0;
}

.search-icons{
    color:#fec325;
    font-size:126%;
    margin:12px 20px;
}

.searchbox-hr{
    width: 100%;
    margin: 0 0 !important;
}

.mast-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    color: white;
    position: relative;
    margin-bottom: 40px;
    text-transform: none;
    line-height: 1.3em;
    @include breakpoint(small) {
        font-size: 2.5rem;
    }
    @include breakpoint(medium) {
        font-size: 2.5rem;
    }
    @include breakpoint(large) {
        font-size: 4.75rem;
    }
    @include breakpoint(xlarge) {
        font-size: 5.25rem;
    }
    @include breakpoint(xxlarge) {
        font-size: 5.25rem;
    }
}

.mast-inner-container{   
    margin: 0 auto;
    padding: 70px 0 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: -webkit-center;
}

.mast-search-container{
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    @include breakpoint(small) {
        width: 19rem;
    }
    @include breakpoint(medium) {
        width: 27rem;
    }
    @include breakpoint(large) {
        width: 39.375rem;
    }
    @include breakpoint(xlarge) {
        width: 51.875rem;
    }
    @include breakpoint(xxlarge) {
        width: 51.875rem;
    }
}

.mast-search-input{
    margin: 10px 20px;
    font-style: normal;
    font-size: 1rem;
    color: #B3B3B3;
    width: 90%;
}

.mast-search-icon{
    color: #fec325;
    font-size: 126%;

    @include breakpoint(small) {
        line-height: 40px;
    }
    @include breakpoint(medium) {
        line-height: 40px;
    }
    @include breakpoint(large) {
        line-height: 60px;
    }
    @include breakpoint(xlarge) {
        line-height: 60px;
    }
    @include breakpoint(xxlarge) {
        line-height: 60px;
    }
}

.search-mast{
    position: fixed;
    z-index: 2 !important;
    top: 60px;
    width: 100%;
    background-color: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
}

.dropdown-searchbox{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 28px;
    background: white; 
    color: lightgrey;
    margin: 3.75rem 0rem;
    max-width: 600px;
    width: 100%;
}

#search-icons:hover{
    background-color:#666666;
}

.nav-btn:focus{
    outline: none;
}

.search-btn-container{
    display: flex;
    justify-content: center;
}

.searchbox-space{
    animation: slide 0.7s;
    padding-top: 13%;
}

.search-page-container{
    margin-top: 17% !important;
}

#results-container{
    margin-top: 2.1875rem;
}

#results-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

#result-total{
    font-size: 0.875rem;
    color: #7f7f7f;
}

.result-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: #252525
}

.result-topic-container{
    margin-bottom: 2.5rem;
}

.result-excerpt{
    color: #7f7f7f;
    font-weight: 400;
    font-size: 1rem;
}


@keyframes slide {
    from {padding-top: 6% }
    to {padding-top: 13% }
}

.hider{
    display: none;
}


/*------------------------------------------------------------------------*/
/*
/*              Responsive Mobile Style
/*
/*------------------------------------------------------------------------*/
@media screen and (max-width: 639px) {
    h1, h2, h3, h4, h5 {
        text-align: left;
    }

    .logo {
        height: 50%;
        margin: 18px;
    }

    .logo-container {
        width: 33%;
        display: flex;
        justify-content: center;
    }

    .topic-hr {
        margin-top: 0em;
        margin-bottom: 1em;
    }

    .topic-box{
        height: 277px !important;
        width: 140% !important;
        margin-left: -20% !important;
    }
  
    .topicspan{
        padding-top: 10% !important;
    }

    .hamburger-container{
        width:33%;
        display: flex;
    }

    .topicspan-plus{    
        padding-top: 10%;
        animation: slideBack 0.7s;
    }

    @keyframes slideBack {
        from {padding-top: 13% }
        to {padding-top: 10% }
    }

    .topics-content{
        padding: 0% 1%;
        margin-top: 5%;
    }
    
    .dropdown-searchbox{
        margin: 2.5rem 0;
        width: 90%;
    }

    .find-mobile{
        margin: 2.1875rem 0 .75rem 0;
        overflow: visible;
    }

    .find-col{
        margin-bottom:10% !important;
    }
    
    .supp-mobile-navbar {
        background: black;
        display: flex;
        height: 55px;
        position: relative;
        min-width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .support-text-centered {
        margin: 0% 9% !important;
    }

    .overlay-effect{
    @include custom-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(35, 31, 32, 0.5) 0px, rgba(35, 31, 32, 0.8) 50%, rgba(35, 31, 32, 0.5));
    height: 7%;
    position: absolute;
    width: 100%;
    z-index: 2;
    }

    .row{
        margin-bottom: 30px !important;
        margin-top: 30px !important;
    }

    .remove-space{
        margin-top: 0rem;
    }

    .searchbox-space {
        padding-top: 2%;
    }

    .article-sidenav{
        margin-top: .5rem;
        margin-left: 0%;
        margin-bottom: 1.5rem;
    }


    /*Support Cant Find Section*/
    /*------------------------------------------------------------------------*/
    .topic-text{
        font-size: small;
    }

    .subtopic-title{
        font-size: smaller
    }

    .mobile-center{
        text-align:center;
    }

    .search-page-container{
        margin-top: 45% !important;
    }

}

/*------------------------------------------------------------------------*/
/*
/*              Responsive Tablet Style
/*
/*------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
    h1, h2, h3, h4, h5 {
        text-align: left;
    }

    .mobile-center{
        text-align: center;
    }
    
    .find-mobile{
        margin: 2.1875rem 0 .75rem 0;
        overflow: visible;
    }

    .topicspan{
        padding-top: 9%;
    }

    .topicspan-plus{    
        padding-top: 9%;
        animation: slideBack 0.7s;
    }

    @keyframes slideBack {
        from {padding-top: 21% }
        to {padding-top: 9% }
    }

    .support-text-centered {
        margin: 0% 7%;
    }

    .searchbox-space{
        animation: slide 0.5s;
        padding-top: 30%;
    }
    
    @keyframes slide {
        from {padding-top: 9% }
        to {padding-top: 21% }
    }

}
