
$path: '/e2/images/rv7/banners/core-support/';
$yt-path: '/e2/images/rv7/youtube_player/';

$sprite: $path + "graphics/sprite.png";
$sprite-svg: $path + "graphics/sprite.svg";
$sprite-png: $path + "graphics/sprite.png";

//Mastheads:
$mastheads: $path + "coresupport_masthead-480.jpg", $path + "coresupport_masthead-768.jpg", $path + "coresupport_masthead-992.jpg", $path + "coresupport_masthead-1200.jpg", $path + "coresupport_masthead-1600.jpg", $path + "coresupport_masthead-2500.jpg";