
.masthead_buffer {
    height: 80px;
    @include breakpoint(desktop tablet mobile) {
      height: 66px;
    }
  }
  
  .masthead_container {
    padding: 0 0 56.25%;
    position: relative;
    width: 100%;
    .full_width_image {
      background-color: $base;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: absolute;
      width: 100%;
      &#profile_image {
        // default image
        background-image: url(nth($mastheads, 5));
        @each $img in $mastheads {
          $i: index($mastheads, $img);
          @include masthead($i) {
            background-image: url($img);
          }
        }
        //CSS for SVG on profile page
        #moh_svg {
          width: percentage(569 / 1200);
          height: percentage(135 / 675);
          background-repeat: no-repeat;
          position: absolute;
          bottom: percentage(55 / 1200);
          left: percentage(50 / 675);
          @include yep(svg) {
            background-size: contain;
            background-image: url($masthead-logo-SVG);
            @include breakpoint(mobile) {
              background-image: none;
            }
            img {
              display: none;
            }
          }
  
          @include nope(svg) {
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }