
$screen-mobile-sm: 394px;
$screen-mobile-md: 450px;
$screen-mobile-max: 480px;
$screen-sm: 700px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-md-max: 1155px;
$screen-lg-min: 1210px;
$screen-lg-md: 1600px;

$image-sizes: 480px, 768px, 992px, 1200px, 1600px, 2500px;

$responsive: true;

@mixin breakpoint($points) {
    @each $point in $points {
        @include do-breakpoint(#{$point}) {
            @content;
        }
    }
}

@mixin do-breakpoint($point) {
    //Small devices (phones, less than 768px)
    @if $point == mobile {
      //480 and below
      @media (max-width: $screen-mobile-max) {
        @content;
      }
    }
    @else if $point == nav {
      // 481 - 699
      @media (min-width: $screen-mobile-max + 1) and (max-width: $screen-sm - 1) {
        @content;
      }
    }
    @else if $point == tablet {
      // 700 - 768
      @media (min-width: $screen-sm) and (max-width: $screen-sm-min) {
        @content;
      }
    }
    @else if $point == lg_tablet {
      // 769 - 992
      @media (min-width: $screen-sm-min + 1) and (max-width: $screen-md-min) {
        @content;
      }
    }
    @else if $point == sm_desktop {
      // 993 - 1155
      @media (min-width: $screen-md-min + 1) and (max-width: $screen-md-max) {
        @content;
      }
    }
    @else if $point == desktop {
      // 1156 - 1210
      @media (min-width: $screen-md-max + 1) and (max-width: $screen-lg-min) {
        @content;
      }
    }
    @else if $point == large {
      // 1211 - 1600
      @media (min-width: $screen-lg-min + 1) and (max-width: $screen-lg-md) {
        @content;
      }
    }
    @else if $point == really_big {
      // 1601 and above
      @media (min-width: $screen-lg-md + 1) {
        @content;
      }
    }
  }

@mixin masthead($size) {
    @if $responsive {
        @if $size == 1 {
            @media (max-width: nth($image-sizes, 1)) {
                @content;
            }
        }
        @else if $size == 2 {
            @media (min-width: nth($image-sizes, 1)) and (max-width: nth($image-sizes, 2)) {
                @content;
            }
        }
        @else if $size == 3 {
            @media (min-width: nth($image-sizes, 2)) and (max-width: nth($image-sizes, 3)) {
                @content;
            }
        }
        @else if $size == 4 {
            @media (min-width: nth($image-sizes, 3)) and (max-width: nth($image-sizes, 4)) {
                @content;
            }
        }
        @else if $size == 5 {
            @media (min-width: nth($image-sizes, 4)) and (max-width: nth($image-sizes, 5)) {
                @content;
            }
        }
        @else if $size == 6 {
            @media (min-width: nth($image-sizes, 5)) {
                @content;
            }
        }
    }
}
