{% for topic in site.data.support_toc %}
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
        <li>
            <a href="./#{{ topic.id }}" class="title-pill">{{ topic.title }}</a>
            <ul class="menu vertical nested">
                {% for subtopic in topic.subtopics %}
                <li>
                    <a href="./#{{ subtopic.id }}" class="secondary-pill">{{ subtopic.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}

<div class="column large-12">
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
        <li> <a href="../../../#core-basics" class="title-pill">Getting Started</a>
            <ul class="menu vertical nested">            
            </ul>
                <li >
                    <a href="../../../#cb" class="secondary-pill">CORE Basics</a>
                </li>
                <li >
                    <a href="../../../#as" class="secondary-pill">Account Settings</a>
                </li>
                <li >
                    <a href="../../../#ui" class="secondary-pill">Uploading Images</a>
                </li>
            </ul>
        </li>
    </ul>
</div>