{% for topic in site.data.toc.support_toc %}
    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
            <a href="./#{{ topic.id }}" class="title-pill">{{ topic.title }}</a>
            <ul class="menu vertical nested">
                {% for article in topic.articles %}
                <li>
                    <a href="./#{{ article.id }}" class="secondary-pill">{{ article.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endfor %}

<div class="column large-12">
    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
            <a href="../../../#getting-started" class="title-pill">Getting Started</a>
            <ul class="menu vertical nested"> 
                <li >
                    <a href="../../../#cb" class="secondary-pill">CORE Basics</a>
                </li>
                <li >
                    <a href="../../../#as" class="secondary-pill">Account Settings</a>
                </li>
                <li >
                    <a href="../../../#ui" class="secondary-pill">Uploading Images</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="../../../#creating-content" class="title-pill">Creating Content</a>
            <ul class="menu vertical nested"> 
                <li >
                    <a href="../../../#cb" class="secondary-pill">Item 1</a>
                </li>
                <li >
                    <a href="../../../#as" class="secondary-pill">Item 2</a>
                </li>
                <li >
                    <a href="../../../#ui" class="secondary-pill">Item 3</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="mobile-dropdown-menu">
        <div class="mobile-dropdown-container">
            <ul class="vertical menu accordion-menu mobile-accord" data-accordion-menu>
            {% for topic in site.data.toc.support_toc %}
                    <li>                                
                        <a href="#" class="title-pill mobile-pills">{{ topic.title }}<span class="title-pill-carrot">&#x2303;</span></a>
                        <hr class="mobile-hr">
                        <ul class="menu vertical nested" style="margin-top: -60px !important">
                {% for article in topic.articles %} 
                    {% if forloop.last == true %}
                            <li class="mobile-li" style="margin-bottom: 15%">
                                <a href="./#{{ article.id }}" class="mobile-pills mobile-sec-pills">{{ article.title }}</a>
                            </li>                            
                            <hr class="mobile-hr">    
                    {% else %}
                            <li class="mobile-li">
                                <a href="./#{{ article.id }}" class="mobile-pills mobile-sec-pills">{{ article.title }}</a>
                            </li>
                    {% endif %}                                
                {% endfor %}
                        </ul>                       
                    </li>
            {% endfor %}
            </ul>
        </div>            
    </div>

    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
            <a href="#">Item 1</a>
            <ul class="menu vertical nested">
                <li><a href="#">Item 1A</a></li>
                <li><a href="#">Item 1B</a></li>
            </ul>
        </li>
        <li><a href="#">Item 2</a></li>
    </ul>