--- 
layout: default 
metatitle: U.S. Army Core Support BP
title: Best Practices
description: U.S. Army Core Support Best Practices
id: bp
search-id: Best Practices
active: bp
---
<div class="main" role="main">
    {% include header.html %}

    <div class="hidden" id="searchId">{{ page.search-id }}</div>

    <div class="container">
        <div class="inner-container">

            <div class="row">
                <div>
                    <h2 class="">{{page.title}}</h2>
                    <p>Learn about getting started and some other words here....more words.</p>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h4><a href="../subtopic-page/">What is CORE?</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Who is eligible for a CORE Account?</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Your Organization</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Content Approval Process</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Your Page</a></h4>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h4><a href="../subtopic-page/">CORE Glossary</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Functionality</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Article / Inbox Actions</a></h4>
                </div>
                <div class="span12">
                    <h4><a href="../subtopic-page/">Page Actions</a></h4>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h4><a href="../subtopic-page/">Using CORE</a></h4>
                </div>
            </div> <!-- end of row -->

        </div> <!-- end of inner -->
        {% include cantfind.html %}
    </div> <!-- end of outer container-->
</div> <!-- end of main -->
    
<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>$(document).foundation();</script>
<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {
    mainNav.classList.toggle('active');
    });

</script>