--- 
layout: topics 
metatitle: U.S. Army CORE Support | Test Page
title: Test Page
area: account-preferences
topicid: gs
topictitle: Testing
description: Testing for dev
tohome: ../
sectnav: ./
---
{% include header.html %}

{% assign datafile = site.data.ap_gs_gloss %}
<div class="main" role="main">
    <div class="container">
        <div class="inner-container">
    
            <div class="row topicspan">
                <div class="column large-3 medium-4 topics-pill-menu hide-for-small-only">
                    <ul class="vertical menu accordion-menu"  data-accordion-menu data-submenu-toggle="true">
                        <li>
                            <a href="{{page.sectnav}}#account-preferences" class="title-pill">Account Preferences</a>
                            <ul class="menu vertical nested">
                                <li>
                                    <a href="{{page.sectnav}}#gs" class="secondary-pill">Getting Started</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#as" class="secondary-pill">Account Settings</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#ui" class="secondary-pill">Uploading Images</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
                        <li>
                            <a href="{{page.sectnav}}#creating-content" class="title-pill">Creating Content</a>
                            <ul class="menu vertical nested">
                                <li>
                                    <a href="{{page.sectnav}}#wa" class="secondary-pill">Writing Articles</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#ai" class="secondary-pill">Article Images</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#ma" class="secondary-pill">Managing Articles</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#cp" class="secondary-pill">Content Practices</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="vertical menu accordion-menu""  data-accordion-menu data-submenu-toggle="true">
                        <li>
                            <a href="{{page.sectnav}}#page-management" class="title-pill">Page Management</a>
                            <ul class="menu vertical nested">
                                <li>
                                    <a href="{{page.sectnav}}#ps" class="secondary-pill">Page Settings</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#pl" class="secondary-pill">Page Layout</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#pa" class="secondary-pill">Page Articles</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="vertical menu accordion-menu"  data-accordion-menu data-submenu-toggle="true">
                        <li>
                            <a href="{{page.sectnav}}#core-community" class="title-pill">Core Community</a>
                            <ul class="menu vertical nested">
                                <li>
                                    <a href="{{page.sectnav}}#am" class="secondary-pill">Admin Management</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#ud" class="secondary-pill">User Directory</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#od" class="secondary-pill">Org Directory</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
                        <li>
                            <a href="{{page.sectnav}}#best-practices" class="title-pill">Best Practices</a>
                            <ul class="menu vertical nested">
                                <li>
                                    <a href="{{page.sectnav}}#hl" class="secondary-pill">Headlines</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#pi" class="secondary-pill">Photos and Images</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#sg" class="secondary-pill">Styleguide</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#st" class="secondary-pill">SEO Tips</a>
                                </li>
                                <li>
                                    <a href="{{page.sectnav}}#pn" class="secondary-pill">Page Navigation</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
  
                <div class="column large-9 medium-8 small-12 medium-offset-4 large-offset-3">
                    <div class="topics-content">
                        <a href="{{ page.tohome }}" class="topnav-bread">CORE Support</a><span class="topnav-subtopic">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="{{ page.tohome }}./topics/#{{ page.topicid }}" class="topnav-bread">{{ page.topictitle }}</a><span class="topnav-subtopic">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="topnav-subtopic topnav-bread">{{ page.title }}</span>
                        {% include subtopics.html %}
                    </div>
                </div> <!-- End of Second column here -->
            </div> <!-- End of Topicspan Row here -->
        </div> <!-- End of inner containter here -->
        <div class="remove-space"></div>
        {% include cantfind.html %}
    </div> <!-- End of outer containter here -->
</div> <!-- end of main -->


<script type="text/javascript" src="/e2/js/rv7/3rdparty/jquery/jquery-3.3.1(f).min.js"></script>
<script type="text/javascript" src="/e2/js/rv7/3rdparty/foundation/foundation-6.5.1(accordion_grid_vis-only).min.js"></script>
<script>$(document).foundation();</script>

<script type="text/javascript">
$(document).ready(function(){
    $('.accordion-menu').click(function(e){
      $('.accordion-menu').not($(this)).foundation('hideAll');
    });
    $('.title-pill').click(function(e){
      $(this.parentElement.parentElement).foundation('showAll');
    });
});
</script>