--- 
layout: topics 
metatitle: U.S. Army CORE Support | Test Page
title: Test Page
area: core-basics
topicid: cb
topictitle: Testing
description: Testing for dev
tohome: ../
---


<header style="z-index: 3; min-width: 100%">
    <div class="navbar">
        <a href="{{page.tohome}}">
            <img  class="logo" src="/e2/images/rv7/core-support/ui-media/coresupport_logo.svg"/> 
        </a>
    </div>    
</header>

<div class="main" role="main">
    {% include masthead.html %}
    <div class="container">
        <div class="inner-container">
            <br>
            <br>
            <div class="row align-center homepage-title">
                <div class="column">
                    <h3 class="topic-center-row">Support / Tutorials</h3>
                </div>
            </div>
            <div class="row align-center">
                <div class="column">
                    <p class="support-text-centered support-text">Whether you’re creating a new homepage for your organization or simply wanting an Army-branded article to promote on social media platforms, use these resources to discover how to make the most of the CORE publishing platform.</p>
                </div>
            </div>
            <br>

            <div class="row align-center">
                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="../support-topics/index.html/#getting-started">
                        <i class="fas fa-user-circle supp-topic-icon"></i>
                        <h5 class="supp-topic-title">Getting Started</h5>
                        <p class="support-text-centered">Some text that sums up Getting Started</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="../support-topics/index.html/#creating-content">
                        <i class="fas fa-edit supp-topic-icon"></i>
                        <h5 class="supp-topic-title">Creating Content</h5>
                        <p class="support-text-centered">Some text that sums up what Creating Content is</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="../support-topics/index.html/#page-management">
                        <i class="fas fa-tasks supp-topic-icon"></i>
                        <h5 class="supp-topic-title">Page Management</h5>
                        <p class="support-text-centered">Some text that sums up what Page Management is</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="../support-topics/index.html/#core-community">
                        <i class="fas fa-users supp-topic-icon"></i>
                        <h5 class="supp-topic-title">Core Community</h5>
                        <p class="support-text-centered">More text that sums up what Community is</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="../support-topics/index.html/#best-practices">
                        <i class="fas fa-lightbulb supp-topic-icon"></i>
                        <h5 class="supp-topic-title">Best Practices</h5>
                        <p class="support-text-centered">More text that sums up Best Practices</p>
                    </a>
                </div>

                <div class="column large-4 medium-5 small-8 find-col">
                    <a class="topic-box" href="./">
                        <i class="fas fa-vial supp-topic-icon"></i>
                        <h5 class="supp-topic-title">TEST PAGE</h5>
                        <p class="support-text-centered">Test words describing some test stuff...more words</p>
                    </a>
                </div>
            </div> <!-- end of row -->

        </div> <!-- end of inner -->

        {% include cantfind.html %}

    </div> <!-- end of outer -->
</div> <!-- end of main -->