--- 
layout: subtopic
metatitle: U.S. Army Core Support PM
title: CORE Support Subtopics
description: U.S. Army CORE Support Subtopics
id: st
search-id: Subtopics
active: st
---
<div class="" role="main"></div>
    {% include supp-header.html %}
    <div class="hidden" id="searchId">{{ page.search-id }}</div>

    <div class="container">

        <div class="inner-container">

            <div class="row topic-content-row">

                <!-- First narrow nav column here -->
                <div class="span3 topics-pill-menu hide-for-small-only">
                    {% include supp-sidenav.html %}    
                </div>                
                <!-- Second wider content column here -->
                <div class="span9 topicspan">
                    {% include supp-subtopics.html %}    
                </div>
                
            </div> <!-- end of row -->

       </div> <!-- end of inner container -->

    </div> <!-- end of outer container -->

</div> <!-- end of main -->

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>$(document).foundation();</script>
<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {
    mainNav.classList.toggle('active');
    });

</script>